@charset "utf-8";
/*重定义*/
html{
	scrollbar-face-color:#428982; 
	scrollbar-highlight-color:#FFFFFF; 
	scrollbar-shadow-color:#FFFFFF; 
	scrollbar-3dlight-color:#FFFFFF; 
	scrollbar-arrow-color:#FFFFFF; 
	scrollbar-track-color:#FFFFFF; 
	scrollbar-darkshadow-color:#FFFFFF; 
	scrollbar-base-color:#FFFFFF;
	}
body {
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:5px;
	font-size:12px;
	color:#000000;
	background-color: #FFFFFF;
	font-family:"宋体";
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
table,div,span,td,h1,h2,h3,h4,h5,h6{
	font-size:12px;
}
form{
	margin:0px;
	}

/*伪类定义*/
a:link{
	color:#176058;
	text-decoration:none;
	}
a:visited{
	color:#176058;
	text-decoration:none;
	}
a:active{
	color:#176058;
	text-decoration:underline;
	} 
a:hover{
	color:#FF9900;
	text-decoration:none;
	} 

a.tt:link{
	color:#FFFFFF;
	text-decoration:none;
	}
a.tt:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
a.tt:active{
	color:#FFFFFF;
	text-decoration:underline;
	} 
a.tt:hover{
	color:#000000;
	text-decoration:none;
	} 

/*特殊程序相关自定义*/
.drag {
	 position: relative
}

/*点击超连接时不要出现默认状态的虚线边框:a{blr:expression(this.onFocus=this.blur());}*/



/*自定义*/
/*长篇文字内容*/
.word{
	text-indent:20px;
	line-height:150%
}

/*选卡效果*/

.cardActive{
	text-align:center;
	width:102px;
	height:25px;
	line-height:25px;
	background-color:#FFFFFF;
	background-image:url(../../images/16G/bg_card_active_s.gif);
	background-position:left;
	background-repeat:no-repeat;
	color:#000000;
	font-weight:bold;
}

.cardNormal{
	width:102px;
	height:25px;
	background-image:url(../../images/16G/bg_card_normal_s.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:hand;
	text-align:center;
	color:#1256a3;
}

.cardHover{
	width:102px;
	height:25px;
	background-image:url(../../images/16G/bg_card_hover_s.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:hand;
	height:23px;
	text-align:center;
	}
.cardDisabled{
	background-image:url(../../images/16G/bg_card_disable_s.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:default;
	height:25px;
	color:#888888;
	text-align:center;
	}

.cardTh{
	border-bottom:1pt solid #317571;
	text-align:right;
}
/*08-05-28 添加 选卡外层表格样式*/
.cardTab{
	border-collapse:collapse;
	border-left:1px #317571 solid;
	border-right:1px #317571 solid;
	}
/*end*/
.cardBody{
	border-right:1px solid #317571;
	border-left:1px solid #317571;
	border-bottom:1pt solid #317571;
	background-color:#FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
}

a.cardLink:link{
	color:#FFFFFF;
	text-decoration:none;
	}
a.cardLink:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
a.cardLink:active{
	color:#bfe7e0;
	text-decoration:underline;
	} 
a.cardLink:hover{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	}

/*您的位置*/
table.yourPlace{
	background-image:url(../../images/16G/bg_yourplace.png);
	background-color:#F6F6F6;
	margin-bottom:5px;
	width:100%;
	height:25px;
}
table.yourPlace tr{
	}
table.yourPlace td{
	background-image:url(../../images/16G/icon_yourplace.png);
	background-position:8px;
	background-repeat:no-repeat;
	color:#000000;
	padding-left:30px;
	padding-top:2px;
}
/*标题文字表格*/
table.tabtitle td{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	padding-left:20px;
	text-align:left;
	height:25px;
	}

table.tabtitle{
	height:25px;
	border:1px #22645c solid;
	background-image:url(../../images/16G/bg_tab_title.png);
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE', endColorStr='#FFFFFF', gradientType='0');*/
}
/* search titlebar */
.searchTltBar{
	text-indent:0px;
	width:20px;
	background-image:url(../../images/16G/icon_search_bar.png);
	background-position:center;
	background-repeat:no-repeat;
	cursor:hand;
	}
.searchDiv{
	display:none;
	}
		
table.tabMainTop{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#D5D5D5', endColorStr='#FFFFFF', gradientType='0');*/
	height:30px;
	border-left:1px #22645c solid;
	border-right:1px #22645c solid;
	border-top:1px #22645c solid;
	border-bottom:0px #b6beca solid;
	border-collapse:collapse;
}
table.tabMainTop td{
	padding-right:10px;
	letter-spacing:2px;
	background-color:#dbebe8;
}


table.tabMainBot{
	height:30px;
	border-left:1px #22645c solid;
	border-right:1px #22645c solid;
	border-top:0px #b6beca solid;
	border-bottom:1px #22645c solid;
}
table.tabMainBot td{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE', endColorStr='#FFFFFF', gradientType='0');*/
	background-color:#dbebe8;
	text-align:center;
}

/*08-05-28 添加 分类分隔表格样式*/
table.tabPanel{
	border-left:1px #22645c solid;
	border-right:1px #22645c solid;
	border-top:1px #22645c solid;
	background-color:#d4ecf6;
	}
.table.tabPanel td{
	height:20px;
	color:#000000;
	font-weight:bold;
	}
/*end*/
/*主体表格定义*/
/*表格外框*/

.tabout{
	border-left:1px #22645c solid;
	border-right:1px #22645c solid;
	border-top:1px #22645c solid;
	border-bottom:1px #22645c solid; 
	behavior:url(../css/16G/colorTable.htc);
	border-collapse:collapse;
}
.tabout td{
	height:24px;
	}
 /*表头*/
.thListNormal{
	height:22px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	background-image:url(../../images/16G/bg_trlist.png);
	text-align:center;
	vertical-align:middle;
	color:#000000;
	border-left:#DFDDCE solid 1px;
	border-right:#DFDDCE solid 1px;
	border-top:#DFDDCE solid 1px;
	border-bottom:#6bb2d6 solid 1px;
	background-color:#FFFFFF;
}
.thListLeft{
	height:22px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	text-align:left;
	background-image:url(../../images/16G/bg_trlist.png);
	vertical-align:middle;
	color:#000000;
	border-left:#DFDDCE solid 1px;
	border-right:#DFDDCE solid 1px;
	border-top:#DFDDCE solid 1px;
	border-bottom:#6bb2d6 solid 1px;
	background-color:#FFFFFF;
}
.thListRight{
	height:22px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	text-align:right;
	background-image:url(../../images/16G/bg_trlist.png);
	vertical-align:middle;
	color:#000000;
	border-left:#DFDDCE solid 1px;
	border-right:#DFDDCE solid 1px;
	border-top:#DFDDCE solid 1px;
	border-bottom:#6bb2d6 solid 1px;
	background-color:#FFFFFF;
}
.thFormNormal{
	height:22px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	text-align:center;
	background-image:url(../../images/16G/bg_trlist.png);
	vertical-align:middle;
	color:#000000;
	border-left:#DFDDCE solid 1px;
	border-right:#DFDDCE solid 1px;
	border-top:#DFDDCE solid 1px;
	border-bottom:#6bb2d6 solid 1px;
	background-color:#FFFFFF;
}

 /*行*/
.trColor{
	background-color:#f3fdf8;
}

.trWhite{
	background-color:#FFFFFF;	
}

.trColor01{

}

.trColor02{

}


 /*单元格列表部分*/
.tdlistCenter{
	height:24px;
	text-align:center;
	border:#d8dee7 solid 1px;
	}

.tdListRight{
	height:24px;
	text-align:right;
	border:#d8dee7 solid 1px;
}

.tdListLeft{
	height:24px;
	text-align:left;
	border:#d8dee7 solid 1px;
}

 /*单元格表单部分*/
 .tdFormleft{
	height:24px;
	width:150px;/*08-05-28改*/
	text-align:right;
	color:#176058;
	background-color:#f3fdf8;
	border:#d8dee7 solid 1px;
}
.tdFormRight{
	height:24px;
	width:75%;
	text-align:left;
	background-color:#FFFFFF;
	border:#d8dee7 solid 1px;
}
.tdFormText{
	height:24px;
	text-align:right;
	color:#176058;
	border:#d8dee7 solid 1px;
	background-color:#f3fdf8;
}
.tdFormInput{
	height:24px;
	text-align:left;
	border:#d8dee7 solid 1px;
	background-color:#FFFFFF;
}
.tdFormCenter{
	height:24px;
	text-align:center;
	border:#d8dee7 solid 1px;
	background-color:#FFFFFF;
}

/*表单元素部分*/
.fieldsetStyle{
	width:98%;
	padding-top:10px;
	padding-bottom:10px;
	border:1px solid #7ca5e0;
	margin-top:10px;
	margin-bottom:10px;
}
fieldset.fieldsetStyle legend{
	border:1px solid #7ca5e0;
	height:22px;
	line-height:22px;
	margin-bottom:10px;
	padding:1px 10px;
	background-color:#FFFFCC;
	}
.formStyle{

}

.selectStyleNormal{
	border-top:#323230 solid 1px;
	border-left:#323230 solid 1px;
	border-bottom:#FAFEFA solid 1px;
	border-right:#FAFEFA solid 1px;
	background-color:#FFFFFF;
}

.selectStyleLong{
    width:100%;
    border-top:#323230 solid 1px;
	border-left:#323230 solid 1px;
	border-bottom:#FAFEFA solid 1px;
	border-right:#FAFEFA solid 1px;
	background-color:#FFFFFF;
}

.textarea{
	border-top:#54a59c solid 1px;
	border-left:#54a59c solid 1px;
	border-bottom:#54a59c solid 1px;
	border-right:#54a59c solid 1px;
	background:#e5faf3;
	overflow:auto;
	width:98%;
	line-height:140%;
	behavior:url(../css/16G/input_text.htc);
}

.button{
	width:69px;
	height:21px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#90baf2', endColorStr='#688bcc', gradientType='0');*/
	background-image:url(../../images/16G/btn_normal.png);
	behavior:url(../css/16G/button.htc);
	border:#707070 solid 0px;
	color:#000000;
	text-align:center;
}

.buttonNormal{
	height:21px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#90baf2', endColorStr='#688bcc', gradientType='0');*/
	background-image:url(../../images/16G/btn_normal_off.png);
	behavior:url(../css/16G/button_normal.htc);
	border:#707070 solid 1px;
	color:#000000;
	text-align:center;
}

.buttonBig{
	width:150px;
	height:21px;
	background-image:url(../../images/16G/btn_normal_off.png);
	behavior:url(../css/16G/button_normal.htc);
	border:#707070 solid 1px;
	color:#000000;
	text-align:center;
}

.goButton{ 
	width:25px;
	height:19px;
	border:#5A6CA2 solid 0px;
	color:#FFFFFF;
	text-align:center;  
	cursor:hand;
	font-size:12px;
}

.arrowButton{
	width:24px;
	height:21px;
	background-image:url(../../images/16G/btn_normal_off.png);
	behavior:url(../css/16G/button_normal.htc);
	border:#707070 solid 1px;
	color:#000000;
	text-align:center;
	margin-top:4px;
	cursor:hand;
}

.inputTextLong{
	width:90%;
	border-top:#54a59c solid 1px;
	border-left:#54a59c solid 1px;
	border-bottom:#54a59c solid 1px;
	border-right:#54a59c solid 1px;
	background:#e5faf3;
	height:20px;
	font-size:12px;
	behavior:url(../css/16G/input_text.htc);
}

.inputTextNormal{
	border-top:#54a59c solid 1px;
	border-left:#54a59c solid 1px;
	border-bottom:#54a59c solid 1px;
	border-right:#54a59c solid 1px;
	background:#e5faf3;
	height:20px;
	font-size:12px;
	behavior:url(../css/16G/input_text.htc);
}

.inputTextNumber{
	border-top:#54a59c solid 1px;
	border-left:#54a59c solid 1px;
	border-bottom:#54a59c solid 1px;
	border-right:#54a59c solid 1px;
	background:#e5faf3;
	height:20px;
	font-size:12px;
	text-align:right;
	behavior:url(../css/16G/input_text.htc);
}

.inputTextSmall{
	width:20px;
	border-top:#54a59c solid 1px;
	border-left:#54a59c solid 1px;
	border-bottom:#54a59c solid 1px;
	border-right:#54a59c solid 1px;
	background:#e5faf3;
	height:17px;
	font-size:12px;
	text-align:center;
	color:#7ca5e0;
	behavior:url(../css/16G/input_text.htc);
}
.inputTextFile{
	border-top:#54a59c solid 1px;
	border-left:#54a59c solid 1px;
	border-bottom:#54a59c solid 1px;
	border-right:#54a59c solid 1px;
	background:#e5faf3;
	height:20px;
	font-size:12px;
	behavior:url(../css/16G/input_text.htc);
}

/* notice page */
.noticeWord{
	color:#ff99000;
	}
/* LIST列表样式 */
.listTitle{
	background-image:url(../../images/16G/bg_trlist.png);
	height:22px;
	line-height:22px;
	margin-right:2px;
	border-bottom:1px solid #6bb2d6;
	}
.listTitle span{
	text-indent:15px;
	font-weight:bold;
	color:#000000;
	display:block;
	}
.listTitle h3{
	font-size:12px;
	font-weight:normal;
	float:right;
	margin-right:10px;
	}
.listBody{
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	}
.listBody ul{
	margin:0px;
	width:95%;
	line-height:140%;
	}	
.listBody ul li{
	text-indent:2em;
	}
.listBody ul li span{
	float:right;
	margin-left:3px;
	}

/* list page end */



/*分页导航样式*/
/*.pTdBorder{}
.pTotal{ 
          width:140px;
          text-align: center;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #C1B98B;
}
.pPageIn{
          width:30px;
          text-align: center;
          font-weight: bold;
          color: #968E5D;
          text-DECORATION: underline;
          background-color: #FFFFFF;
          border-right: #E7E4D2 1px solid;
	  border-top: #C2BEA9t 0px solid;
	  border-left: #C2BEA9t 0px solid;
	  border-bottom: #C2BEA9 0px solid;
}
.pPage{
          width:30px;
          text-align: center;
          color: #968E5D;
          background-color: #FFFFFF;
		border-right: #DCD8C3 1px solid;
	  border-top: #C2BEA9t 0px solid;
	  border-left: #C2BEA9t 0px solid;
	  border-bottom: #C2BEA9 0px solid;
}
.pPageGo{
          width:180px;
          text-align: center;
          color: #968E5D;
          background-color: #FFFFFF;
}
.TabWelcome{
	width:496px;
	border:1px solid #000000;
	margin-top:100px;
	}
*/


/*造型表格*/
/*
.bTabOut{
    height:32px;
    border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:0px #ACA791 solid;
	border-bottom:0px #ACA791 solid;
	background-repeat: repeat-x;
	background-color: #F5F2E3;
}
.bTabOutB{
        height:32px;
        border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:0px #ACA791 solid;
	border-bottom:1px #ACA791 solid;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image:url('../../images/11A/bg_button_bot.gif');
	background-repeat: repeat-x;
}
.bTabOutT{
        height:32px;
        border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:0px #ACA791 solid;
	border-bottom:1px #ACA791 solid;
	background-repeat: repeat-x;
	background-color: #F5F2E3;
}
.tabOutF{
        border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:1px #ACA791 solid;
	border-bottom:1px #ACA791 solid;

}
.tabBgA{
        border-left:0px #ACA791 solid;
	border-right:0px #ACA791 solid;
	border-top:0px #D2CDB4 solid;
	border-bottom:1px #D7D2B9 solid;
}

.pButton {
	border-right: buttonhighlight 1px solid;
	border-top: buttonshadow 1px solid;
	border-left: buttonshadow 1px solid;
	border-bottom: buttonhighlight 1px solid;
	background-color:#EAE9E4;
}

.eButton {
	border-right:#000000 1px solid;
	border-top: buttonface 1px solid;
	border-left: buttonface 1px solid;
	border-bottom: #000000 1px solid;
	background-color:#EAE9E4;
}

.rButton {
	border-right: buttonface 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: buttonface 1px solid;
	background-color: buttonhighlight;
}

.lButton {
	border-right: buttonshadow 1px solid;
	border-top: buttonshadow 1px solid;
	border-left: buttonshadow 1px solid;
	border-bottom: buttonshadow 1px solid;
	background-color: #FFFFFF;
}

.tButton {
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
	border-left: buttonhighlight 1px solid;
	border-bottom: buttonshadow 1px solid;
	background-color: buttonface;
}
*/