@charset "utf-8";
/* CSS Document */
/*************** 背景颜色 ***************/
body {
	background:#f1f1f1 url(../images/bg_main.png) repeat;
}
	
.blank10{
	height:10px;line-height:0;font-size:0; clear:both; overflow:hidden;
	}
tbody{width:100%;}
/****失去鼠标手势的链接*****/
a.link-blur{
	cursor:default;
	text-decoration:none;
	}

/****表格的tfoot样式****/
tfoot{
	margin-left:auto;
	 margin-right:auto;	
	width:100%;
	*display:inherit;
	text-align:center;	
	background:#f1f1f1;
	}
/***line分割display:inline-table!important;线****/
.x-line{
	display:block;
	width:100%;
	height:1px;
	border-bottom:1px dashed #a4a4a4;
	overflow:hidden;
	padding:0;
	margin:0 auto 5px auto;	
	}
	
/***ui-title 标题样式***/
.ui-title{	
	margin:5px auto 5px auto;
	padding:0;
	border:0 dashed #c3c3c3;
	width:98%;
	height:24px;
	}
.ui-title img{
	width:24px;
	
	}
.ui-title-icon{	
	margin:0 8px;		
	}
.ui-title-cnt{
	height:24px;
	line-height: 24px;
	vertical-align: middle;
	font-size:12px;
	color:#5d5d5d;
	}
.ui-subtitle01{
	height:26px;
	margin:0 0 5px 15px ;	
	}
.ui-subtitle01-pic{
	display:block;
	background:url(../images/pic_title02_left.png)  no-repeat left top;
	width:15px;
	height:26px;
	}
.ui-subtitle01-cnt{
	display:block;
	background:url(../images/bg_title02_right.png)  no-repeat right top;
	height:26px;
	width:70px;
	color:#2e2e2e;
	line-height:26px;
	vertical-align:middle;
	margin:0 15px 0 0 20px;
	}

/***searchbox***/
.ui-search{
     width:100%;
	 margin:10px auto;
	}
.ui-search-general{
	border: #b7c3cc solid;	
	border-width:1px 1px 1px 1px;
	width:100%;
	background:#fafafa ;

}
.ui-search-advance{
	border: #87a6be solid;	
	border-width:2px 1px 1px 1px;
	width:100%;
	background:#fcfcfc  ;	
}
.col-search-advance-main{
   float:left;
   height:80px;
   width:100%;
}
.col-search-advance-sub{
  width:90px;
  margin-left:-90px;
  float:right;
  height:80px;
}
.search-advance-main-wrap{
	margin-right:100px;
	height:80px;	
}
#btn-searchgo{
	display:block;
	width:81px;
    height:62px;
    margin:8px 0 0  0;
 	background:url(../images/page_bg.png)  no-repeat ;
    background-position: -1px -55px;	
}
.ui-searchbar-border{
	display:block;
	border-left:1px #91adc1 solid;
	border-bottom:1px #91adc1 solid;
	border-right:1px #71adc1  solid;
	height:4px;
	background: #f0f7fd;
	width:100%;
	overflow:hidden;
}
.ui-searchbar-btn{
	display:block;
	background-position: 0 0 ;
	width:32px;
	height:32px;	
	float:right;
}
.ui-searchbar-btn a{
	display: block;	
}
.hide-search{
	background:url(../images/page_bg.png)  no-repeat;
	background-position: -2px -606px;
	width:32px;
	height:32px;
	margin:0 auto;
	margin-top:-2px;	
}
.show-search{
	background:url(../images/page_bg.png)  no-repeat;
	background-position: -44px -606px;
	width:32px;
	height:32px;
	margin:0 auto;
	margin-top:-2px;	
}
.ui-search-title{
	background:url(../images/page_bg.png)  no-repeat;
    background-position: 0 -20px ;
	height:28px;
	_height:20px;
	margin:8px 0;
	width:100%;
}
.ui-search-cnt{
	_display:inline;
	margin:10px auto;
	width:100%;
	}
.ui-search-cnt  td, caption{
	_display:inline;
	padding:0.3em 0.5em;
	margin:0;
	line-height:1.8em;
	}	
	
/***重置form元素**/
form textarea {
                width: 97.5% !important;
                font-family:"微软雅黑","宋体";
                }           
form select {
               
				font-family:"微软雅黑","宋体";
                }
form input:focus,textarea:focus {
	-moz-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-focus-ring-color:none;
	border-color:#c4c4c4;
	font-family:"微软雅黑","宋体";
	background-color:#fef9ae;}	/**无效需要调**/	
form input:focus,textarea:focus,select:focus {
	outline-width:0; /* No outline border for Safary */
}
form input[type="text"],input[type="password"],input[type="select"] {
	color:#2e2e2e;
    font-family:"微软雅黑","宋体";

}
form textarea{
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	padding:2px 3px;
	color:#2e2e2e;
	float:left;
	font-family:"微软雅黑","宋体";
	height:80px;
	}
form input[type="file"]{
	/**为了和其他input的22px高效果一样**/
	}
form input[type="checkbox"],
form input[type="radio"] {
				padding:2px 10px 0 0;
                background: none;
				border: 0;
				margin:0 ;
				vertical-align: middle; 
                }
form input[type="button"],[type="reset"],[type="submit"]{
	cursor:pointer;
	font-family:"微软雅黑","宋体";
	border:0;/**复合定义样式**/
	}
.input-wds{
	 width:50%px;
	}
.input-wdm{
	 width:75%;
	}
.input-wdl{
	 width:98%;
	}
.input-wd200{
	 width:200px;
	}
.input-wd120{
	 width:120px;
	}
.input-wd110{
	 width:110px;
	}
.input-file{
	border:1px solid #d4d4d4;
	padding:0 6px;
	background:#fff;
	height:30px;
	font-size:12px;
	line-height:28px;
	
	}
.input-normal{
	border:1px solid #d4d4d4;
	padding:0 6px;
	background:#fff;
	height:30px;
	font-size:14px;
	line-height:28px;
	}
.select-normal{
	border:1px solid #d4d4d4;
	padding:4px 4px;
	background:#fff;
	margin:0 4px;
	font-size:14px;
	line-height:28px;
	outline:none; 
	display: inline-block; 
	}
fieldset {
	border:0 none;
	border-top:1px solid #b9b9b9;
	margin:0 0;
	padding:2px 0;	
}
form label {
                
                padding: 0 6px 0 0;
				vertical-align: middle; 
				white-space:nowrap!important;		
    			 /**强制不折行word-break:keep-all;word-wrap:false;**/			
                }/***是必填项是用这个便签定位浮动***/
                
form p small {
                font-size: 0.75em;
                color: #777;
                }			
legend {
	display:block;
	color:#026db9;
	font-weight:bold;
	padding:0 5px 0 0;
	margin:0 0 5px 0;
    padding:0;
    border:0;
    outline:0;
    font-size:110%;
    vertical-align:baseline;
    background:transparent;
}
/**模块化form元素**/
.required{
	color:#F00;
	font-size:16px;
	font-weight:bold;
	float:left;
	margin:0;
	padding:2px 4px;
	}/**必填项**/
.note{
	display:block;
	float:left;
	color:#6d6d6d;
	font-size:12px;	
	padding:0 5px;
	}
.remark{
	background:#5bc0de;
	padding:0.2em 0.6em;
	font-size:12px;
	color:#fff;
	margin:0 4px;
	}/*备注*/




/*****表单+列表组合的附属区域框样式*****/
.bg-subarea{
	border:1px solid #c9c9c9;
	background:#ffffff;
	padding:5px 0 5px 0;
	width:98%;
	margin:0 auto 10px auto;
	}
/****信息列表标题title样式*****/
.ui-list-title{
     background: #ffffff;
     height:44px;
     border-bottom:1px solid #cdcdcd;
	 /*border-top:3px solid #419ceb;*/
     width:100%;
     margin:5px auto 0 auto;
}
.ui-list-title-img{
	display: block;
 	background: url(../images/page_bg.png) no-repeat ;
 	background-position:-131px -1px;
 	width:38px;
 	height:36px;
 	margin:0;
 	float: left;
 	padding:0;
}
.ui-list-title h4{
	display: block;
	font-size:18px;
	height:44px;
	float:left;
	line-height:42px;
	vertical-align: middle;
	padding:0 0 0 20px;
	color:#555555
}
.ui-form{
	width:100%;
	margin:0 auto 10px auto;
	padding:10px 0;
	background:#ffffff;
	border-top:0 solid #419ceb;
	border-bottom:1px solid #c9c9c9;
	border-right:0 solid #c9c9c9;
	border-left:0 solid #c9c9c9;
	}/** aileen modify 20120920**/
/**/
.list-topbtn{
	
	}
/****核心列表样式 list****/
.ui-list{
	width:100%;
	margin:0 auto 10px auto;
	padding:5px 0;
	background:#ffffff;
	border-top:0 solid #419ceb;
	border-bottom:1px solid #c9c9c9;
	border-right:0 solid #c9c9c9;
	border-left:0 solid #c9c9c9;
}
.ui-list-nobtnbar{
	width:98%;
	margin:0 auto;
	border-right:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	}
/****table 样式***/
.ui-table {
	 width:98%;
	 margin:5px auto;
	 padding:0;
	}
.tr-even-bg{ 
		background:#f6f7f7;
		border-bottom: 1px solid #eeeeee
}  /** 偶数行样式**/
.tr-odd-bg{ 
		background:#ffffff;
		border-bottom: 1px solid #eeeeee;
}  /** 奇数行样式**/
.selected{
		 background:#d8e4ef;
	 }  
.stripetb tr.over td{
		background:#fff798;
	} /**这个将是鼠标高亮行的背景色**/ 
.ui-table-list{
	border:2px solid #d4d4d4;
	*border:1px solid #d4d4d4;
	}
.ui-table-list thead th{
	padding:0.3em 1em;
	margin:0;
	border-bottom:0 solid #cbebff;
	border-top:1px solid #cbebff;
	background:#cbebff;
	color:#768e9d;
	text-align:center;
	font-size:16px;
	letter-spacing:0.1em;
	border-left:1px solid #d4e0e8;
	}
.ui-table-list tbody th{
	padding:0.4em 1em;
	margin:0;
	border-bottom:2px solid #d9d9d9; 
	line-height:1.8em;
	background:#f6f6f6;
	color:#575757;
	line-height:2em;
	font-size:14px;
	border-left:1px solid #d4e0e8;
	*border-left:0 dashed #d9d9d9; 
	vertical-align:text-top
	}
.ui-table-list th h4{
	color:#00609c;
	font-weight:bold;
	}
.ui-table-list td p{
	font-size:14px;
	padding:4px 0;
	margin: 0 10px;
	}

.ui-table-list td h5 font{
	background:#ffffff;
	font-size:14px;
	border:1px solid #e4e4e4
	
	
	}
.ui-table-list td h6{
	display:inline-block;
	float:left;
	padding:0 0 0 0;
	margin:0 10px 0 0;
	
	}
.ui-table-list td h6 label{
	margin:0 0 0 2px;
	}
.ui-table-list td span{
	float:right;
	margin:0 10px 0 0;
	font-size:12px; 
	color:#646464;
	}
.ui-table-list td{
	padding:0.4em 1em;
	margin:0;
	font-size:14px;
	color:#575757;
	background:#fff;
	border-bottom:1px dashed #d9d9d9;
	line-height:1.8em;
	border-left:1px dashed #d9d9d9; 
	*border-left:0 dashed #d9d9d9; 
	}
.ui-table-list tfoot {
	background:#fff;
	
	}
.ui-table-list tfoot th{
	padding:0.3em 1em;
	margin:0;
	border-bottom:1px dashed #d9d9d9; 
	line-height:1.8em;
	background:#f8f8f8;
	
	color:#575757;
	line-height:2em;
	font-size:14px;
	border-left:1px solid #d4e0e8;
	vertical-align:text-top
	}
.ui-table-list tfoot td{
	
	}
.ui-table-form{
	border:2px solid #d4d4d4;
	*border:1px solid #d4d4d4;
	}	
.ui-table-form thead th{
	padding:0.3em 1em;
	margin:0;
	border-bottom:1px solid #d4d4d4;
	border-top:1px solid #d4d4d4;
	background:#f6f6f6;
	color:#727272;
	text-indent:0;
	font-weight:bold;

	font-size:14px;
	letter-spacing:0.1em;
	border-left:1px solid #d4d4d4;
	}
.ui-table-form tbody th{
	padding:0.3em 1em;
	margin:0;
	border-bottom:1px dashed #d9d9d9; 
	line-height:1.8em;
	background:#fafafa;
	color:#575757;
	line-height:2em;
	font-size:14px;
	border-left:1px solid #d4e0e8;
	vertical-align:text-top
	}
.ui-table-form th h4{
	color:#00609c;
	font-weight:bold;
	}
.ui-table-form td p{
	font-size:14px;
	padding:4px 0;
	margin: 0 10px;
	}

.ui-table-form td h5 font{
	background:#ffffff;
	font-size:14px;
	border:1px solid #e4e4e4
	
	
	}
.ui-table-form td h6{
	display:inline-block;
	float:left;
	padding:0 0 0 0;
	margin:0 10px 0 0;
	
	}

.ui-table-form td span{
	float:right;
	margin:0 10px 0 0;
	font-size:12px; 
	color:#646464;
	}
.ui-table-form td{
	padding:0.3em 1em;
	margin:0;
	font-size:14px;
	color:#575757;
	background:#fff;
	border-bottom:1px dashed #d9d9d9;
	line-height:1.8em;
	border-left:1px dashed #d9d9d9; 
	}
.ui-table-form tfoot {
	background:#fff;
	
	}
.ui-table-form tfoot th{
	padding:0.3em 1em;
	margin:0;
	border-bottom:1px dashed #d9d9d9; 
	line-height:1.8em;
	background:#f8f8f8;
	
	color:#575757;
	line-height:2em;
	font-size:14px;
	border-left:1px solid #d4e0e8;
	vertical-align:text-top
	}
.ui-table-form tfoot td{
	
	}
.table-fix{
	table-layout:fixed;
	word-wrap:break-word;
	overflow:hidden;
	}
.table-bor {
	border:2px solid #d4e0e8;
	
	
	}
.table-bor td{
	border-right:1px dashed #d4e0e8;
	}


/*****搜索面板的table样式******/
.ui-table-search{
   margin:0 auto;
   width:98%;
   background:#f8f8f8;
   border:2px solid #dcdcdc;
   *border:1px solid #dcdcdc;
   
}
.ui-table-search thead th{
   
   padding:0.5em 1em;
   font-size:12px;
   font-weight:bold;
   color:#4f4f4f;
   border-bottom:2px solid #d9d9d9;
}
.ui-table-search  tr{
   border-bottom:1px dashed #c4c4c4;
}
.ui-table-search tbody td, caption{
	padding:0.5em 1em;
	font-size:14px;
	margin:0.2em 0;
	line-height:2em; 
	background:#ffffff;
}
.ui-table-search td span{
	display:block;
	margin:0 4px;
	float:left;
	
	}
.ui-table-search tbody th{
	padding:0.3em 1em;
	margin:0;
	border-bottom:0 dashed #d9d9d9; 
	line-height:1.8em;
	background:#fafafa;
	color:#575757;
	line-height:2em;
	font-size:14px;
	border-right:1px dashed  #d4e0e8;
	vertical-align:text-top
	}
.ui-table-search tfoot {
	 /* Webkit: Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6));
      
    /* Webkit: Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
      
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #f6f6f6);
      
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #f6f6f6);
      
    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #f6f6f6);
      
    /* IE < 10 */
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#f6f6f6);
      
   /* CSS3 标准*/
    background: linear-gradient(#ffffff, #f6f6f6);

	
	}
.ui-table-search tfoot td{
	padding:0.3em 1em;
	margin:0;
	border-bottom:1px dashed #d9d9d9; 
	line-height:1.8em;
	
	color:#575757;
	line-height:2em;
	font-size:14px;
	border-left:1px solid #d4e0e8;
	vertical-align:text-top
	}
/**表单按钮***/
.ui-btn{
	font-family:"微软雅黑","宋体";
	width:62px;
	height:24px;
	line-height:23px;
	vertical-align:middle;
	padding:0 0 3px 0!important;
	padding:0;
	margin:2px 3px;
	color:#283541;
	font-size:12px;
	text-align:center;
	}

.ui-button-check{	
	border:0 solid #c3b199;
    background:url(../images/bg_btn_check.png) no-repeat;
	height:20px;
	color:#572e1c;
	padding:0 2px;
	margin: 2px;
	font-size:12px;
	line-height:20px;
	vertical-align:middle;
	width:34px;
	float:left;
	cursor:pointer;
	}
.ui-btn-sub{
	background:url(../images/button_bg.png)  no-repeat ;
	background-position:0 -94px;
	color: #ffffff;
	font-size:13px;
	width:93px;
	height:26px;
	margin:0 4px;
	cursor:pointer;
	}
.ui-btn-inlist{
	background:url(../images/button_bg.png)  no-repeat ;
	background-position:0 -123px;
	color:#ffffff;
	font-family:"微软雅黑","宋体";
	width:50px;
	height:24px;
	line-height:23px;
	vertical-align:middle;
	padding:0 0 3px 0!important;
	padding:0;
	margin:2px 3px;
	font-size:12px;
	text-align:center;
	}
.ui-btn-inform{
	display:block;
	width:120px;
	height:25px;
	border:1px solid #c3b199;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -388px;	
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	color:#613f18;
	}
.ui-btn-inform:hover{
	color:#613f18;
	text-decoration:none;
	}

.btn{
	display:inline-block;
	color:#324756;
	padding:0.2em 1.2em;
	*padding:0.08em 0.6em;
	
	line-height:1.8em;
	font-size:14px; 
    vertical-align:middle;
	cursor:pointer;
	word-break:keep-all;
	}
a.btn{
	*padding:0.2em 1.2em;
	}
.btn:hover{
	text-decoration:none;
	}
a.btn img{
	float:left;
	line-height:1.6em;
	vertical-align:middle;
	padding:2px 2px 0 0 ;
	}
.btn-normal{
	background:#3191ea;
	border:1px solid #357ebd;
	color:#fff;
	font-size:14px;	
	white-space:nowrap;
		/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */

-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
margin:2px 4px ;
	}

.btn-reset{
	background:#eeeeee;
	border:1px solid #cccccc;
	color:#313131;
	font-size:14px;
	margin:2px 4px ;
		/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */
-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
	}
.btn-search{
	background:#f0ad4e;
	border:1px solid #e9a74a;
	color:#ffffff;
	font-size:14px;
	margin:2px 4px ;
		/* Gecko browsers */
-moz-border-radius: 2px; 
/* Webkit browsers */
-webkit-border-radius: 2px; 
/* W3C syntax - likely to be standard so use for future proofing */
border-radius:2px;
	}
a.btn-list{
	display:inline-block;
	font-size:12px;
	min-width:40px;
	padding:0.2em 0.5em;
	text-align:center;
	border:1px solid #3185cd;
	background:#368ed9;
	margin:0 3px 0 3px;
	color:#ffffff;
	}
a.btn-list:hover{
	border:1px solid #1d78c7;
	background:#207ecf;
	color:#ffffff;
	font-weight:bold;
	}
a.btn-green{
	border:1px solid #4cae4c;
	background:#5cb85c;
	color:#ffffff;
	margin:0 0 0 4px;
	}
a.btn-black{
	border:1px solid #363636;
	background:#616161;
	color:#ffffff;
	cursor:pointer;
	text-decoration:none;
	}
a.btn-orange{
	
	border:0 solid #c3b199;
	background:#f0a73f;
	cursor:pointer;
	text-decoration:none;
	color:#ffffff;	
	margin:0 0 0 4px;
	}
/***表单中的状态文字样式***/
.font-green{
	color:#41a63e;
	font-weight:bold;
	}
.font-red{
	color:#c42323;
	font-weight:bold;
	}
.font-orange{
	color:#ff790c;
	font-weight:bold;
	}	
/****按钮样式***/
.btn-sub{
	width:98%;
}
.ui-button{
	display:block;
	padding:0;
	cursor:pointer;
	}
.ui-button-icon-left{
	width:120px;
	height:25px;
	border:1px solid #c3b199;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -388px;	
	}
.ui-button-bar{
	padding:0 10px;
	height:24px;
	margin:2px 2px 0 2px;
	border:1px solid #abc0d6;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -418px;	
	float:left;/**ie6 2***/
	}
.ui-button-bar:hover{
	border:1px solid #b7c7a1;
	text-decoration:none;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -341px;	
	height:24px;
	}
.ui-icon-list{
	display:block;
	float:left;
	width:18px;
	padding:2px 0 0 0px;
	}
.ui-icon img{
	width:16px;
	float:left;
	border:0;
	padding:4px 0 0 0;
	}
.ui-button-text{
	display:block;
	height:25px;
	float:left;
	line-height:25px;
	vertical-align:middle;
	padding:0 0 0 3px;
	color:#493c2e;
	font-size:12px;
	font-weight:normal;
	}
.ui-button-text-bar{
	display:block;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	float:left;
	padding:0 0 0 6px;
	color:#493c2e;
	}
.ui-button-noicon{
	display:inherit;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	text-align:center;
	color:#493c2e;
	}
/***嵌套在表单内的表单如增加多个附件***/
.nestform{
	margin:0 auto;
	padding:3px;
	width:98%;
	}
.nestform dt{
	margin: 0 0 5px 0;
	padding:0;
	}
.nestform dd{
	display:table;
	margin:5px 0;
	padding: 0;
	width:100%;
	border-bottom:1px dashed #CCC;	
	}
.nestform dd span{
	float:left;
	padding:4px 4px;
	}
.nest-attachment{
	margin: 0 ;
	padding:0;
	font-size:12px;
	}
.nest-attachment dt{
	display:block;
	margin: 0 0 5px 0;
	padding:0;
	}
.nest-attachment dd{
	display:table;
	margin:5px 0;	
	padding: 0;
	width:100%;
	height:30px;
	border-bottom:1px dashed #CCC;	
	}
.nest-attachment dd font{
	display:block;
	float:left;
	padding:2px 6px;
	font-size:12px;
	}
.nest-attachment dd a{
	display:block;
	float:left;
	
	}
.nest-attachment dd img{
	float:left;
	padding:6px 4px 0 2px ;
	}
.nest-attachment dd span{
	display:block;
	float:left;
	padding:0 10px ;
	border:1px solid #c5d6df;
	background:#e9f7ff;
	}
/*** 按钮栏****/	
.ui-btnbar{	
	padding:0 0 0 0;
	margin:0 10px 0 10px;
	height:42px;
	}
.btnbar-top{
	width:98%;	
	margin:10px auto 0 auto;	
	}/***按钮栏在列表上方***/
.btnbar-bot{	
	margin:0 auto 0 auto;	
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	}/***按钮栏在列表下方***/
.ui-btnbar ul{
	margin:0;
	padding: 0;
	float:left;
	}
.ui-btnbar li{
	float:left;
	margin:4px 6px 0 0 	   
	}
.ui-btnbar a:hover{
	text-decoration:none;
	position:relative;
	left:1px;
	top:1px;
	
	}
.query-btn{
	cursor:pointer;	
	}
/****分页导航样式******/
.ui-page{
	width:96%;
	margin:0 auto 10px auto;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	padding:2px 0;
	font-size:12px;
	}
.ui-page-item-info{  
	padding:2px;
	margin:0;
	}
.ui-page-item-info{
	width:300px;
	float:left;
	}
.ui-page-item-set{
	width:120px;
	}
.ui-page-item-set h4{
	display:block;
	width:32px;
	float:left;
	}
.ui-page-go{
	display:block;
	width:150px;
	margin:0 0 0 10px;
	}
.ui-page-go h4{
	display:block;
	padding:0 4px 0 10px;
	float:left;
	}
.select-page{
	float:left;
	width:50px;
	border:1px solid #d4d4d4;
	padding:4px 4px;
	background:#fff;
	height:30px;
	font-size:12px;
	line-height:28px;
	}
.input-page{
	width:40px;
	height:30px;
	margin:0 3px  0 2px;
	border:1px  solid #dedede;
	float:left;
	}
.ui-button-go{
	display:block;
	float:left;
	border:1px  solid #dedede;
	background:#ffffff;
	width:32px;
	padding:0;
	margin:0 0 0 0;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
	}
.ui-item-link{
	float:right;
	width:380px
	}
.ui-item-link div{
	float:left;
	}
.ui-page-item{
    margin:0 ;
	
	
	}
.ui-page-item a{
    float:left;
	display:inline-block
	
	
	}
a.ui-page-item-current{
	cursor:default;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	background:#428bca;
	}
a.ui-page-item:hover{
	text-decoration:none;
	}
.ui-page-item-first, .ui-page-item-prev, .ui-page-next, .ui-page-last{
	display:inline-block;
	border:1px  solid #d4d4d4;
	background:#ffffff;
	padding:0 10px;
	cursor:pointer;
	font-weight:bold;
	height:30px;
	color:#0059b5;
	}
.ui-page-item-disable{
	border:1px  solid #dedede;
	background:#e7e7e7;
	height:30px;
	padding:0 10px;
	font-weight:normal;
	cursor:default;
	color:#666666;
	}	/***无效 不可用状态样式***/

/*****popwin 弹出遮罩层样式****/
.ui-popwin{
	margin:0;
	padding:0;
	}

.ui-popwin-title{
	margin:0 auto;
	width:98%;
	}
.ui-popwin-title img{
	float:left;
	margin:2px;
	width:24px;
	}
.ui-popwin-title h4{
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#3c85c1;
	letter-spacing:2px;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	}
.ui-popwin-cnt{
	width:90%;
	margin:5px auto ;
	}
.ui-popwin-cnt p{
	line-height:2em;
	}	
.ui-popwin-btn{
	width:90%;
	text-align:right;
	}

/*****文字功能连接的样式*****/
a.text-link{
	display:block;
	margin:0 10px;	
	float:left;;
	color:#006dbe;
	line-height:30px;
	vertical-align:middle;
	}
	
.list-fixed {
	table-layout:fixed;
	margin:0 0 10px 0;
	
	}/***定义每个th宽度超出会出横向滚动***/
.ui-table-set{
	background:#ffffff;
	}
.ui-table-set th{
	background:#f1f1f1;
	height:30px;
	border-bottom:1px solid #d7d7d7;
	text-align:center;;
	text-align:center;
	border-right:1px solid #dedede;
	white-space:nowrap;
	
	}
.ui-table-set th img { vertical-align:text-top;}
.ui-table-set td, caption{
	height:28px;
	line-height:1.8em;
	text-align:center;
	padding:3px 2px;
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	}
.ui-table-set caption{
	background:#d4eeff;
	}
.ui-table-set td img { vertical-align:text-top;}
.ui-table-set td span{
	display:block;
	
	background:#fff2b6;
	border:1px  #cbb9a2 dashed;
	}

.ui-table-setchild th{
	background:#f7f7f7 ;
	background-position:0 0;
	height:30px;
	text-align:left;
	border-right:1px solid #dedede;
	border-bottom:1px solid #f7f7f7;
	white-space:nowrap;
	
	}
.ui-table-setchild td, caption{
	height:28px;
	line-height:1.8em;
	text-align:left;
	padding:3px 0;
	border-right:1px solid #eaeaea;
	border-bottom:1px dashed #bdbdbd;
	}
.ui-table-setchild th label{
	margin:0 0 0 67px;
	}
.ui-table-setchild td label{
	margin:0 0 0 67px;
	}
.hide-flod{
	display:block;
	background:url(../images/record_off.png)  no-repeat;
	width:40px;
	height:24px;
	margin:0 auto;
	margin-top:-2px;	
}
.show-flod{
	display:block;
	background: url(../images/record_on.png)  no-repeat;
	width:40px;
	height:24px;
	margin:0 auto;
	margin-top:-2px;	
}
/**提示面板**/
.ui-message{
	width:98%;
	margin:10px auto;
	
	
	
	}
.ui-message dl{
	width:100%;
	margin:0 auto;
	padding:0 0 8px 0;
	background:#fff;
	border:1px solid #d8d8d8;
	}
.ui-message dt{
	font-size:18px;
	padding:0 0 0 28px;
	color:#252525;
	height:42px;
	line-height:42px;
	background:#f7f7f7;
	border-bottom:3px double #dbdbdb;
	}
.ui-message dd{
	width:96%;
	border-bottom:1px solid  #dbdbdb;
	font-size:14px;
	color:#6f6f6f;
	
	line-height:2.8em;
	margin:0 auto;
	
	}
/*选卡*/
.formtabs{
	width:98%;
	margin:0 auto;
	height:34px;
	border-bottom:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	
	}
.formtabs li{
	float:left;
	display:block;
	padding:0 2em;
	font-size:14px;
	line-height:32px;
	vertical-align:middle;
	}
.formtabs-on{
	
	height:32px;
	border-bottom:1px solid #ffffff;
	border-top:3px solid #dbdbdb;
	background:#ffffff;
	border-left:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	}
.formtabs-off{
	height:33px;
	border-top:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	background:#f6f6f6;
	cursor:pointer;
	}
.formtabs-main{
	border-right:1px solid #dbdbdb;
	border-left:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	width:98%;
	margin:0 auto;
	padding:10px 0 0 0;
	}
/*表单字体特殊控制*/
.table-fonts tbody th{
	font-weight:bold;
	font-size:12px;
	}
.table-fonts tbody td{
	font-size:12px;
	}
	