package ${plugin.parameter.acitionPackageName};
#set( $objectName = "$table.getVariableName()")
#set( $tableName ="$table.getName()")
#set( $className = "${table.destinationClassName}")
#set( $flag = "true" )

import com.taiji.core.webwork.action.ProtectedDetailAction;
import com.taiji.info.domain.${className};
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;


public class View${className}QueryAction extends ProtectedDetailAction {
	private static final Log log = LogFactory.getLog(View${className}QueryAction.class);

	public ${className} get${className}() {
		return (${className})getEntity();
	}
	public void set${className}(${className} $objectName) {
		setEntity($objectName);	
	}
	public Class getPersistentClass(){
	  return ${className}.class;
	}
}