<input type="checkbox" name="$!webwork.htmlEncode($parameters.name)" value="$!webwork.htmlEncode($parameters.fieldValue)"
#set( $items = $parameters.list )
#set( $curValue = $!webwork.htmlEncode($parameters.fieldValue))
#if( $items )    
    #foreach( $item in $items )       
         #if( $tag.contains($curValue, $item) ) checked="checked" #end         
    #end
#else
  &nbsp;
#end

#if ($parameters.disabled == true) disabled="disabled"                                      #end
#if ($parameters.tabindex)         tabindex="$!webwork.htmlEncode($parameters.tabindex)"    #end
#if ($parameters.id)               id="$!webwork.htmlEncode($parameters.id)"                #end
#if ($parameters.cssClass)         class="$!webwork.htmlEncode($parameters.cssClass)"       #end
#if ($parameters.cssStyle)         style="$!webwork.htmlEncode($parameters.cssStyle)"       #end
#parse("/template/simple/scripting-events.vm")
/>