@charset "utf-8";
/*reload*/
body{
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-SIZE:12px;
	background-color:#32549B;
	FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#1b65ae', endColorStr='#59c4fc', gradientType='0');
	border:1px solid #FFFFFF;
	MARGIN-LEFT: 2px;
	MARGIN-TOP: 2px;
	MARGIN-RIGHT: 2px;
	MARGIN-BOTTOM: 2px;
	overflow:hidden;
}

table{
	FONT-SIZE: 12px;
}

/*link style*/
a:link{
	COLOR:#076D8A;
	TEXT-DECORATION:none
}
a:visited{
	COLOR:#076D8A;
	TEXT-DECORATION:none
}
a:active{
	COLOR:#076D8A;
	TEXT-DECORATION:none
} 
a:hover{
	COLOR:#FF6600;
	TEXT-DECORATION:none
}

/* link out line */
a{blr:expression(this.onFocus=this.blur());}

/* rightmenu */


.mTabOut{
	width:100%;
}
.mTdList{
	color:#FFFFFF;
	text-align:center;
	height:21px;
	}
.mTdListOver{
	background-color:#cfe0f3;
	color:#FF6600;
	text-align:center;
	FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f5f9ff', endColorStr='#96c1e4', gradientType='0');
	height:21px;
	}