@charset "utf-8";
/* menu body */
body{font-size:12px}td{font-size:12px}div{font-size:12px}span{font-size:12px;}
.menu-body{
	background-color:#32549B;
	FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#1b65ae', endColorStr='#59c4fc', gradientType='0');
	/*ThreeDFace;*/
	color:#FFFFFF;
	margin:0;
	padding:0;
	overflow:hidden;
	border:0;
	cursor:default;
}

.menu-body .outer-border{
	border:0;
}
	
.menu-body .inner-border{
	width:100%;
	height:100%;
	border:1px solid #4F7BBC;
	padding:2px;

}

/* end menu body */
/*****************************************************************************/

/* menu items */
.menu-body #scroll-up-item td,.menu-body #scroll-down-item td{
	font-family:Webdings !important;
	text-align:center;
	padding:10px;
}

.menu-body td{
	font:menu;
	font-size:12px;
}

.menu-body .hover td{
	BACKGROUND-IMAGE:url(../../images/15B/bg_menu_item_on.gif);
	background-color:#4F7BBC;
	color:#FF6600;
	font-size:12px;
}

.menu-body td.empty-icon-cell{
	padding:2px;
	border:0;
	Font-size:12px;
}

.menu-body td.empty-icon-cell span{
	width:16px;
}

.menu-body td.icon-cell{
	width:16px;
	padding:2px 2px 1px 2px;
	border:0;
}

.menu-body td.icon-cell img{
	width:16px;
	height:16px;
	margin:0;
}

.menu-body td.label-cell{
	width:100%;
	padding:2px 5px 1px 5px;
	font-size:12px;
}

.menu-body td.shortcut-cell{
	padding:2px 5px 1px 5px;
	font-size:12px;
}

.menu-body td.arrow-cell{
	width:20px;
	padding:2px 2px 1px 0px;
	font-family:Webdings;
	font-size:12px;
}

/* end menu items */
/*****************************************************************************/
/* disabled items */

.menu-body .disabled .disabled-container{
	color:GrayText;
}

.menu-body .disabled .icon-cell .disabled-container,.menu-body .disabled-hover .icon-cell .disabled-container{
	background:GrayText;
	filter:progid:DXImageTransform.Microsoft.Chroma(Color=#010101) DropShadow(color=ButtonHighlight,offx=1,offy=1);
	width:100%;
	height:100%;
}

.menu-body .disabled-hover .icon-cell .disabled-container{
	filter:progid:DXImageTransform.Microsoft.Chroma(Color=#010101);
	font-size:9pt;
}

.menu-body .disabled .icon-cell .disabled-container .disabled-container,.menu-body .disabled-hover .icon-cell .disabled-container .disabled-container{
	background:Transparent;
	filter:Mask(Color=#010101);
	font-size:9pt;
}

.menu-body .disabled-hover td{
	background-color:Highlight;
	color:GrayText;
	font-size:9pt;
}
/* end disabled items */
/*****************************************************************************/

/* separator */

.menu-body .separator td{
	font-size:0.001mm;
	padding:4px 2px 4px 2px;
	font-size:9pt;
}

.menu-body .separator-line{
	overflow:hidden;
	border-top:1px solid ThreeDShadow;
	height:1px;
	font-size:9pt;
}

/* end separator */
/*****************************************************************************/
/* scroll buttons */

.menu-body #scroll-up-item td,.menu-body #scroll-down-item td{
	font-family:Webdings !important;
	text-align:center;
	padding:10px;
	font-size:9pt;
}

.menu-body #scroll-up-item,.menu-body #scroll-down-item{
	width:100%;
	font-size:9pt;
}

.menu-body #scroll-up-item td,.menu-body #scroll-down-item td{
	font-family:Webdings;
	text-align:center;
	padding:0px 5px 1px 5px;
	font-size:9pt;
}

/* end scroll buttons */
/*****************************************************************************/

/* radio and check box items */

.menu-body .check-box,.menu-body .radio-button{
	width:16px;
	text-align:center;
	vertical-align:middle;
	font-size:9pt;
}

.menu-body .checked .check-box{
	font-family:Marlett;
	font-size:9pt;
}

.menu-body .checked .radio-button{
	font-family:Marlett;
	font-size:66%
}

/* end radio and check box items */
/*****************************************************************************/
/* Menu Bar */

.menu-bar{
	font-weight:bold;
	border:0;
	cursor:default;
	padding:0px;
}

.menu-bar .menu-button{
	BACKGROUND-IMAGE:url(../../images/15B/bg_menu_button_off.gif);
	height:23px;
	color:#FFFFFF;
	font-weight:bold;
	font:Menu;
	padding:5px 7px 3px 7px;
	border:0;margin:0;
	display:inline-block;
	white-space:nowrap;
	cursor:default
}

.menu-bar .menu-button.active,.menu-bar .menu-button.hover{
	BACKGROUND-IMAGE:url(../../images/15B/bg_menu_button_on.gif);
	height:23px;
	color:#000000;
	border:0px;
}

/* End Menu Bar */