@charset "utf-8";
body{
	margin:0px;
	background-color:#1a3d39;
	font-size:12px;
	font-family:"宋体";
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-image:url(../../images/16G/bg_head_back.png);
	background-position:top;
	background-repeat:repeat-x;
}

ul,div,span,td,h1,h2,h3,h4,h5,h6{
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	padding:0px;
}

a.toplink:link{
	color:#FFFFFF;
	text-decoration:none;
}
a.toplink:visited{
	color:#FFFFFF;
	text-decoration:none;

}
a.toplink:active{
	color:#a4d2cc;
	text-decoration:none;
}
a.toplink:hover{
	color:#a4d2cc;
	text-decoration:none;
}

.topTabOut{
	background-image:url(../../images/16G/bg_head_main.png);
	background-position:top left;
	background-repeat:no-repeat;
	height:84px;
	margin:0px auto;
	width:100%;
	}
.titleLogo{
	width:360px;
	float:left;
	margin-top:10px;
	}
.tdSmenu{
	line-height:25px;
	text-align:right;
	padding-right:15px;
	color:#FFFFFF;
	height:25px;
	}
.listDiv{
	height:47px;
	}
.topTitleChn{
	font-family:"黑体";
	font-size:24px;
	line-height:30px;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	margin-left:20px;
	}
.topTitleEng{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	margin-left:20px;
	}

.topCardUl{
	float:right;
	margin-right:5px;
	height:32px;
	margin-top:27px;
	
	}
.topCardUl li{
	list-style:none;
	display:block;
	}
.topCardOn{
	background-image:url(../../images/16G/bg_card_active.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	height:32px;
	line-height:32px;
	color:#000000;
	width:121px;
	text-align:center;
	margin:0px 3px;
	float:left;
	font-weight:bold;
	}
.topCardOn span{
	color:#FF9900;
	font-size:14px;
	font-weight:bold;
	filter:DropShadow(Color="#FFFFFF",OffX="1",OffY="1",Positive="1");
	width:121px;
	}
.topCardOff{
	background-image:url(../../images/16G/bg_card_normal.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	line-height:32px;
	height:32px;
	color:#1256a3;
	width:121px;
	margin:0px 3px;
	text-align:center;
	float:left;
	cursor:hand;
	}
.topCardOff span{
	font-size:14px;
	color:#FFFFFF;
	/*filter:DropShadow(Color="#FFFFFF",OffX="1",OffY="1",Positive="1");*/
	width:121px;
	}

.contBarOut{
	background-image:url(../../images/16G/bg_nav_b.png);
	height:36px;
	margin:0 auto;
	width:100%;
	}
.contBarIn{
	background-image:url(../../images/16G/bg_nav_f.png);
	background-position:right;
	background-repeat:no-repeat;
	height:36px;
	line-height:36px;
	color:#FFFFFF;
	margin:0 auto;
	width:100%;
	}
.loginTime{
	float:left;
	margin-left:10px;
	line-height:35px;
	height:36px;
	}
.userInfo{
	color:#FFFFFF;
	line-height:35px;
	float:right;
	margin-right:10px;
	height:36px;
}
.userInfo a:link,.userInfo a:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
.userInfo a:hover{
	color:#FF6600;
	text-decoration:none;
	}
.buttonHead{
	background-image:url(../../images/16G/bg_head_button.gif);
	width:73px;
	height:23px;
	color:#014290;
	border:0px;
	}

