@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#000000;
	background-color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
table,div,span,td,h1,h2,h3,h4,h5,h6{
	font-size:12px;
}
form{
	margin:0px;
	}
.tabTitle{
	margin-top:50px;
	margin-bottom:10px;
	}
.tdTitle{
	text-align:center;
	font-family:"黑体";
	font-size:18px;
	line-height:25px;
	}
.rptInputBl{
	width:100%;
	border:0px solid #FFFFFF;
	border-bottom:1px solid #000000;
	}
.rptInputNormal{
	width:100%;
	border:0px solid #FFFFFF;
	}
.rptTabOut{
	border:1px solid #000000;
	border-collapse:collapse;
	}
.rptTabOut td{
	border:1px solid #000000;
	text-align:center;
	}
.rptTabOut td input{
	width:95%;
	border:0px;
	background-color:#F3F3F3;
	behavior:url(../css/16G/input_rpt.htc);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
.tdNtop{
	border-top:0px solid;
	}
.tdNbottom{
	border-bottom:0px solid;
	}
.tdtleft{
	text-align:left;
	}
.tdtright{
	text-align:right;
	}
.rptInputNomarl{
	width:95%;
	border:0px;
	}
.rptInputNumb{
	width:100%;
	border:0px;
	text-align:right;
	}
.tabBotOut{
	margin-top:10px;
	}
.tabBotNotice{
	font-size:14px;
	line-height:18px;
	height:25px;
	}





