<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>


	<property name="show_sql">true</property>
	<property name="hibernate.connection.driver_class">
		oracle.jdbc.driver.OracleDriver
	</property>
	<property name="hibernate.connection.url">
		jdbc:oracle:thin:@192.168.56.241:1521:orcl
	</property>
	<property name="hibernate.connection.username">eweb</property>
	<property name="hibernate.connection.password">eweb</property>
	<property name="hibernate.connection.autocommit">true</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.OracleDialect
	</property>
	<property name="hibernate.transaction.factory_class">
		org.hibernate.transaction.JDBCTransactionFactory
	</property>


	<!-- <property name="show_sql">true</property>
		<property name="hibernate.connection.driver_class">com.microsoft.jdbc.sqlserver.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:microsoft:sqlserver://192.168.23.34:1433;databaseName=shipl;SelectMethod=Cursor</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password">sa</property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.SetBigStringTryClob">true</property>
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.generate.statistics">true</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
	-->
	<!-- 引用Hibernate配置文件 -->
	<property name="myeclipse.connection.profile">db</property>
	<property name="connection.url">
		jdbc:oracle:thin:@192.168.56.241:1521:orcl
	</property>
	<property name="connection.username">eweb</property>
	<property name="connection.password">eweb</property>
	<property name="connection.driver_class">
		oracle.jdbc.driver.OracleDriver
	</property>
	<property name="dialect">
		org.hibernate.dialect.Oracle9Dialect
	</property>
	<mapping resource="com/taiji/user/domain/User.hbm.xml" />
	<mapping resource="com/taiji/user/domain/Group.hbm.xml" />
	<mapping resource="com/taiji/user/domain/Org.hbm.xml" />
	<mapping resource="com/taiji/user/domain/Role.hbm.xml" />
	<mapping resource="com/taiji/user/domain/Permission.hbm.xml" />
	<mapping resource="com/taiji/user/domain/FieldPermission.hbm.xml" />
	<mapping
		resource="com/taiji/user/domain/FunctionPermission.hbm.xml" />
	<mapping resource="com/taiji/user/domain/RecordPermission.hbm.xml" />
	<mapping resource="com/taiji/user/domain/Operation.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Field.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Function.hbm.xml" />
	<mapping resource="com/taiji/system/domain/MappingTable.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Dictionary.hbm.xml" />
	<mapping resource="com/taiji/system/domain/DictItem.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Style.hbm.xml" />
	<mapping resource="com/taiji/system/domain/PositionRead.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Assignment.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Post.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Position.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Ptree.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Searchstate.hbm.xml" />
	<mapping resource="com/taiji/system/domain/ServiceDataBase.hbm.xml" />
	<mapping resource="com/taiji/system/domain/Log.hbm.xml" />
	<mapping resource="com/taiji/system/domain/AppLog.hbm.xml" />
	<mapping resource="com/taiji/system/domain/QueryCond.hbm.xml" />
	<mapping resource="com/taiji/system/domain/SearchStateCond.hbm.xml" />
	<mapping
		resource="com/taiji/system/domain/ComplexQueryCond.hbm.xml" />
	<mapping
		resource="com/taiji/system/domain/ComplexSearchStateCond.hbm.xml" />
	<!-- WebIscp -->
	<mapping resource="com/taiji/webTemplate/domain/WtTemplate.hbm.xml" />
	<mapping resource="com/taiji/webTemplate/domain/WtClassify.hbm.xml" />
	<!-- Template -->
	<mapping
		resource="com/taiji/app/webTemplate/news/domain/NewsTemplate.hbm.xml" />

	<mapping resource="com/taiji/fzb/domain/XzfyAgent.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyApp.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyInfo.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyRecieve.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyDftz.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyShenpi.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyXcdc.hbm.xml" />
	<mapping resource="com/taiji/ashjl/domain/AshjlInfo.hbm.xml" />
	<mapping resource="com/taiji/ashjl/domain/AshjlWypj.hbm.xml" />
	<mapping resource="com/taiji/tzjl/domain/TzjlInfo.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/Committee.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/Term.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/EvidenceAttachment.hbm.xml" />
	<mapping resource="com/taiji/ajgl/domain/AjAttachment.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/DxalComment.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/DxalInfo.hbm.xml" />
	<mapping resource="com/taiji/jdaj/domain/JdajApp.hbm.xml" />
	<mapping resource="com/taiji/jdaj/domain/JdajInfo.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzcjApp.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzcjInfo.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzssInfo.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/Member.hbm.xml" />
	<mapping resource="com/taiji/fzb/domain/XzfyLog.hbm.xml" />
<mapping resource="com/taiji/datum/model/AppDatumFile.hbm.xml" />
		<mapping resource="com/taiji/datum/model/AppDatum.hbm.xml" />
</session-factory>

</hibernate-configuration>
