package ${plugin.parameter.acitionPackageName};
#set( $objectName = "$table.getVariableName()")
#set( $className = "${table.destinationClassName}")
#set ($keyColumn = $table.pkColumn) 
#set ($keyvar = ${keyColumn.variableName}) 
#set ($keyCVar = ${keyColumn.capitalisedVariableName})

import com.taiji.core.webwork.action.ProtectedDetailAction;
import  ${plugin.parameter.domainPackageName}.*;
import  ${plugin.parameter.servicePackageName}.*;
import com.taiji.system.service.PostTree;
import com.taiji.system.service.PostTreeNode;
import com.taiji.user.service.IUserService;
import com.taiji.user.domain.User;

public class ${className}QueryDetailAction extends ProtectedDetailAction{
	private Integer infoId;
	private I${className}Service service;
	private String department;
	private ${className}History ${objectName};
    #foreach($relationshipRole in $table.relationshipRoles)
    #set( $relationName = "${table.getQualifiedDestinationClassName($relationshipRole)}")
    #set( $relationObjectName = "${table.getVariableName($relationshipRole)}")
    #set( $target = $relationshipRole.getTarget($plugin))
    #set( $one2one = $relationshipRole.relation.one2One )
    #if($one2one)
    private ${relationName}History ${relationObjectName};
 	#end
	#end  	
	private String reporter;
	private String operationCode;
	private IUserService userService;
	
	public void setUserService(IUserService iuserService){
			this.userService=iuserService;
	}
	public IUserService getUserService(){
			return this.userService;
	}	
	public void setInfoId(Integer id){
		this.infoId = id;
	}
	public Integer getInfoId(){
		return infoId;
	}
	public String getReporter(){
		return this.reporter;
	}
	public void setOperationCode(String operationCode){
		this.operationCode=operationCode;
	}
	public String getOperationCode(){
		return this.operationCode;
	}
	
	public void set${className}Service(I${className}Service service){
		this.service = service;
	}
	public I${className}Service get${className}Service(){
		return this.service;
	}
	public void set${className}(${className}History ${objectName}){
		this.${objectName} = ${objectName};
	}
	public ${className}History get${className}(){
		return this.${objectName};
	}
   #foreach($relationshipRole in $table.relationshipRoles)
    #set( $relationName = "${table.getClassName($relationshipRole)}")
    #set( $relationObjectName = "${table.getVariableName($relationshipRole)}")
    #set( $target = $relationshipRole.getTarget($plugin))
    #set( $one2one = $relationshipRole.relation.one2One )
    #if($one2one)
 	public void set${relationName}(${relationName}History ${relationObjectName}){
		this.${relationObjectName} = ${relationObjectName};
	}
	public ${relationName}History get${relationName}(){
		return this.${relationObjectName};
	}
 	#end
	#end  		
	public String execute() {
	try{
		${objectName} = service.get${className}History(infoId);
   #foreach($relationshipRole in $table.relationshipRoles)
    #set( $relationName = "${table.getClassName($relationshipRole)}")
    #set( $relationObjectName = "${table.getVariableName($relationshipRole)}")
    #set( $target = $relationshipRole.getTarget($plugin))
    #set( $one2one = $relationshipRole.relation.one2One )
    #if($one2one)
     ${relationObjectName} = ${objectName}.get${relationName}History();
 	#end
	#end 
	department=service.treegetPostTree(operationCode).getTreeNode(new Integer(${objectName}.get${className}CheckHistory().getPositionid())).getName();
	
	reporter=((User)(userService.getEntityObjectById(${objectName}.get${className}CheckHistory().getReporter()))).getName();
		}catch(Exception e){
			e.printStackTrace();
			return ERROR;
		}	
		return SUCCESS;
	}
	public Class getPersistentClass(){
	  return ${className}.class;
	}	
}