@charset "utf-8";
/* 左侧菜单CSS Document */
body {background:#ffffff ;}	

/***     Sidebar      ***/
#sidebar {
                width: 240px;
				margin: 0 0 10px 0  ;
				padding:0 ;
                }
.sidebarTop{
				color:#1d6b9f;
				font-size:18px;
				text-align:left;
				text-indent:15px;
				font-weight:bold;
				line-height:47px;
				}	
#sidebar-wrapper {
				 width: 240px;
                margin: 0;
                }		
#sidebar a,
#sidebar a:active {
                color:#ccc;
                }

#sidebar a:hover {
                color:#fff;
                }

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
                width:240px;
                padding:0;
                margin:0 0 0 0;
				border-bottom:1px #c8c8c8 solid;
                }

#sidebar #main-nav li {
            	 width:240px;
                list-style: none;
                text-align:left;
				margin:0 0;
				padding:0 0 0 0;
                }

#sidebar #main-nav li a.nav-top-item {
	           display:block;
                background:  url(../images/menu_bg.png) no-repeat; 
			    _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 0;
				width:240px;
				height:48px;
				border:0;
                color: #555555;
                font-size:14px;
				font-weight:bold;
                cursor: pointer;
               
                text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
				cursor:default
				
                }
#sidebar #main-nav li a.no-submenu{
	            display:block;
	            background:  url(../images/menu_bg.png) no-repeat; 
			    _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -295px;
				width:240px;
				height:48px;
				border:0;
                color: #555555;
                font-size:14px;
				font-weight:bold;
                cursor: pointer;
                  text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
	}
#sidebar #main-nav li a.no-submenu:hover{
	              background-image:url(../images/menu_bg.png) !important;
				 _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -67px;
				width:240px;
				height:48px;
				border:0;
               color:#883600;
                font-size:14px;
				font-weight:bold;
                cursor: pointer;text-decoration: none;
				line-height:48px;				
				vertical-align:middle;
	}
#sidebar #main-nav li a.nav-top-item span{
	          display:block;
	            text-indent:28px;
				
				float:left;
	            }
#sidebar #main-nav li a.nav-top-item img{
			   padding:0;
			   margin:10px 0 0 8px;
			   float:left;
			   border:0;
	            }
#sidebar #main-nav li a.current {
                background-image:url(../images/menu_bg.png) !important;
				 _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -67px;
				width:240px;
				height:48px;
				border:0;
                color:#883600;
                font-weight:bold;
				line-height:48px;
                }
                
#sidebar #main-nav li a.current:hover {
               color:#883600;
                }

#sidebar #main-nav ul {
				padding:0 ;
                font-size:12px;
                margin:0;
				border:0;
                }

#sidebar #main-nav ul li {
                list-style:none;
			    color: #434343;
                margin:0;
				width:240px;
                text-align:left;
				padding: 0 ;
                }

#sidebar #main-nav ul li a {
	            display:block;
                padding:0 ;
                color: #434343;
				text-indent:70px;
                font-size: 12px;
                line-height:43px;
				height:43px;
				font-weight:bold;
				border:0;
				background-image:url(../images/menu_bg.png) ;
				 _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -185px;
                }

#sidebar #main-nav ul li a:hover{
 			    color: #883600;
				text-decoration: none;
				background-image:url(../images/menu_bg.png) ;
				 _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -127px;
				height:43px;
}
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #883600;
				border:0;
			    display: block;
				/**background-image:url(../images/menu_bg.png) ;
				background-position: 0 -103px;**/
				background-image:url(../images/menu_bg.png)  ;
				 _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -127px;
		    	line-height: 43px;
				height:43px; 
				margin:0;
				text-indent:70px;
                }

#sidebar #main-nav1 ul li a.current {
                background: transparent !important;
                }
.lastline{
    		    background-image:url(../images/menu_bg.png) ;
				 _background:  url(../images/menu_bg.gif) no-repeat;
				background-position: 0 -238px;
				line-height: 43px;
				height:43px;
}
