@charset "utf-8";
body{
	margin:0px;
	background-color:#f7e828;
	font-size:12px;
	background-image:url(../../images/16AY/bg_foot.png);
	background-position:left;
	background-repeat:repeat-y;
}

table{
	font-size:12px;
}

div{
	font-size:12px;
}
.footInfo{
	height:25px;
	line-height:25px;
	text-align:center;
	color:#FFFFFF;
	}


