package ${plugin.parameter.acitionPackageName};
#set( $objectName = "$table.getVariableName()")
#set( $tableName ="$table.getName()")
#set( $className = "${table.destinationClassName}")
#set( $flag = "true" )

import com.taiji.core.webwork.action.ProtectedListAction;
import  ${plugin.parameter.domainPackageName}.*;
import  ${plugin.parameter.servicePackageName}.*;
import com.taiji.core.util.PaginationSupport;
import java.util.*;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import com.opensymphony.xwork.ActionContext;

public class List${className}InLineAction extends ProtectedListAction {
	private static final Log log = LogFactory.getLog(List${className}InLineAction.class);
	private static final String TABLE_NAME = "${tableName}";
    private String opName;
    #foreach($relationshipRole in $table.relationshipRoles)
       #if( $relationshipRole.enabled )
       #set( $relationName = "${table.getClassName($relationshipRole)}")
       #set( $relationObjectName = "${table.getVariableName($relationshipRole)}")
       #if(!$relationshipRole.targetMany && $relationshipRole.originMany)  
	private Integer ${relationObjectName}Id = new Integer(0);
	   #end	
       #end	
    #end	

	public void setOpName(String opName) {
	    this.opName= opName;
	}
	public String getOpName() {
	    return opName;
	}
    #foreach($relationshipRole in $table.relationshipRoles)
       #if( $relationshipRole.enabled )
       #set( $relationName = "${table.getClassName($relationshipRole)}")
       #set( $relationObjectName = "${table.getVariableName($relationshipRole)}")
       #if(!$relationshipRole.targetMany && $relationshipRole.originMany)  
          
	public void set${relationName}Id(Integer ${relationObjectName}Id) {
		this.${relationObjectName}Id = ${relationObjectName}Id;
	}
	public Integer get${relationName}Id() {
		return ${relationObjectName}Id;	
	} 
	
	   #end	
       #end	
    #end
	public String getTableName() {
		return TABLE_NAME;
	}
	public Class getPersistentClass() {
		return ${className}.class;
	}
	public PaginationSupport getInitResult() {
    #foreach($relationshipRole in $table.relationshipRoles)
       #if( $relationshipRole.enabled )
       #set( $relationName = "${table.getClassName($relationshipRole)}")
       #set( $relationObjectName = "${table.getVariableName($relationshipRole)}")
       #if(!$relationshipRole.targetMany && $relationshipRole.originMany)  
       
       Integer Session${relationObjectName}Id=new Integer(0);
		if(ActionContext.getContext().getSession().get("${relationObjectName}Id")!=null){
			Session${relationObjectName}Id=(Integer)ActionContext.getContext().getSession().get("${relationObjectName}Id");
		}   
        if(${relationObjectName}Id!=null && !${relationObjectName}Id.equals(new Integer(0))){
			Session${relationObjectName}Id=${relationObjectName}Id;
		}
		String hql="select ${objectName} from ${className} ${objectName} where ${objectName}.${relationObjectName}.id="+Session${relationObjectName}Id;
	    return coreService.find(hql,getPageNum());		
		         
	   #end	
       #end	
    #end
	}
}