@charset "utf-8";
body{
	margin:0px;
	font-size:12px;
	font-family:"宋体";
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(../../images/16B/bg_head.png) repeat-x;
	background-color:#3babda;
}

table,div,span,td,h1,h2,h3,h4,h5,h6{
	font-size:12px;
}

a.toplink:link{
	color:#FFFFFF;
	text-decoration:none;
}
a.toplink:visited{
	color:#FFFFFF;
	text-decoration:none;

}
a.toplink:active{
	color:#a4e5ff;
	text-decoration:none;
}
a.toplink:hover{
	color:#0b509e;
	text-decoration:none;
}
.tdSmenu{
	line-height:25px;
	height:25px;
	text-align:right;
	padding-right:15px;
	color:#FFFFFF;
	background:url("../../images/16B/bg_right_head.png") no-repeat;
	background-position:top right;
	}
.topTabOut{	
	background:url("../../images/16B/bg_head_table.png") no-repeat;
	height:59px;
	}
.titleLogo{
	/*width:360px;*/
	}
.topTitleChn{
	font-family:"黑体";
	font-size:24px;
	line-height:30px;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	margin-left:20px;
	}
.topTitleEng{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	margin-left:20px;
	}

.topCardUl{
	vertical-align:bottom;
	float:right;
	margin-right:5px;
	margin:0px;
	padding:0px;
	list-style:none;
	}
.topCardOn{
	background-image:url(../../images/16B/bg_card_active.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	height:25px;
	line-height:25px;
	color:#000000;
	width:123px;
	text-align:center;
	margin:0px 1px 0px 0px;
	float:left;
	font-weight:bold;
	}
.topCardOn span{
	color:#fff;
	font-size:12px;
	}
.topCardOff{
	background-image:url(../../images/16B/bg_card_normal.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	height:25px;
	line-height:25px;
	color:#02547a;
	width:123px;
	margin:0px 1px 0px 0px;
	text-align:center;
	float:left;
	cursor:pointer;
	/*behavior:url(../../css/16B/cardHover.htc);*/
	}
.topCardOff span{
	color:#222;
	/*filter:DropShadow(Color="#FFFFFF",OffX="1",OffY="1",Positive="1");*/
	height:25px;
	}

.contBarOut{
	height:25px;
	}
.contBarOut td{
	color:#fff;
	}
.userInfo{
	color:#fff;
	white-space:nowrap;
	padding-left:10px;
	padding-right:10px;
	text-align:right;
}
.userInfo a:link,.userInfo a:visited{
	color:#fff;
	text-decoration:none;
	}
.userInfo a:hover{
	color:#4e83d0;
	text-decoration:none;
	}
.buttonHead{
	background-image:url(../../images/16B/bg_head_button.gif);
	width:73px;
	height:23px;
	color:#014290;
	border:0px;
	}
.aQuit,.aZx{
	display:block;
	width:50px;
	height:17px;
	line-height:17px;
	text-indent:17px;
	font-weight:bold;
	color:white;
	text-decoration:none;
	}
.aQuit{background:url(../../images/16B/icon_quit.png) no-repeat;}
.aZx{background:url(../../images/16B/icon_zx.png) no-repeat;}
.tdSmenu span{float:right;margin-left:25px;}
.bgTopright{background:url("../../images/16B/bg_topright.png") no-repeat top right;}