body{
	margin:0px auto;
	padding:0px;
	font-size:12px;
	}
ul,li,img,div,tr,td{margin:0px;padding:0px;}
ul{list-style:none;}
img{
	border:none;
	}
.top,.middle{
	float:left;
	width:985px;
	_margin-bottom:-3px;}
.foot{
	float:left;
	width:985px;}
.newTop{
	float:left;
	width:900px;
	height:13px;
	background:url("../../images/16B/newTop.png") repeat-x;}
.newTopLeft{
	float:left;
	width:40px;
	height:13px;
	background:url("../../images/16B/newTopLeft.png") no-repeat;}
.newTopRight{
	float:left;
	width:45px;
	height:13px;
	background:url("../../images/16B/newTopRight.png") no-repeat;}
.newLeft{
	float:left;
	width:40px;
	height:627px;
	background:url("../../images/16B/newLeft.png") no-repeat;}
.newLeft ul{
	float:left;
	width:40px;
	margin-top:30px;}
.newLeft ul li{
	float:right;
	margin-top:25px;
	width:28px;
	height:125px;
	font-size:14px;
	padding-left:11px;
	padding-top:15px;   
	font-family:"微软雅黑";
	cursor:pointer;}
.newOn{
	background:url("../../images/16B/newOn.png") no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="./../images/16B/newOn.png"); 
	_background:none;
	color:#000;}
.newOff{
	background:url("../../images/16B/newOff.png") no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="./../images/16B/newOff.png"); 
	_background:none;
	color:#fff;}
.newOn2{
	background:url("../../images/16B/newOn2.png") no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="./../images/16B/newOn2.png"); 
	_background:none;
	color:#000;}
.newOff2{
	background:url("../../images/16B/newOff2.png") no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="./../images/16B/newOff2.png"); 
	_background:none;
	color:#fff;}
.newRight{
	float:right;
	width:45px;
	height:627px;
	background:url("../../images/16B/newRight.png") no-repeat;}
.newRight ul{
	float:left;
	width:45px;
	margin-top:30px;}
.newRight ul li{
	float:left;
	margin-top:25px;
	width:28px;
	height:125px;
	font-size:14px;
	padding-left:11px;
	padding-top:15px;   
	font-family:"微软雅黑";
	cursor:pointer;}
.newFoot{
	float:left;
	width:900px;
	height:9px;
	background:url("../../images/16B/newBot.png") repeat-x;}
.newFootLeft{
	float:left;
	width:40px;
	height:9px;
	background:url("../../images/16B/newFootLeft.png") no-repeat;}
.newFootRight{
	float:left;
	width:45px;
	height:9px;
	background:url("../../images/16B/newFootRight.png") no-repeat;}
.newMain{
	float:left;
	width:900px;
	border-top:1px solid #bfbfbf;}
.newTit{
	float:left;
	width:890px;
	margin-top:13px;
	height:21px;
	line-height:21px;
	text-indent:15px;
	font-family:"微软雅黑";
	color:white;
	font-size:14px;
	background-color:#3399d2;}
.newTit span{
	cursor:pointer;
	font-size:14px;}
.newTable{
	float:left;
	width:900px;}
.tableLeft{
	width:500px;
	line-height:20px;
	margin-left:10px;
	display:inline;}
.thTit{
	width:200px;
	height:35px;
	line-height:35px;
	text-indent:30px;
	font-size:14px;
	font-weight:bold;
	color:#3399d2;
	background:url("../../images/16B/newIcon.gif") no-repeat 0 5px;}
.tdBt{
	color:#303030;
	border-bottom:1px dashed #ccc;}
.textI{text-indent:15px;}
.tdNr{
	color:#828282;
	border-bottom:1px dashed #ccc;}
.newMap{
	width:500px;
	height:290px;
	padding-top:8px;
	background:url("../../images/16B/newMap.png") no-repeat center 8px;}
.leftTable{
	float:left;
	width:525px;
	border-right:1px solid #f1f1f1;
	}
.rightTable{
	float:right;
	width:360px;
	}
.tableRight{
	width:360px;
	line-height:20px;
	display:inline;}
.TRTab{
	line-height:20px;}
.textI5{text-indent:10px;}
.tdTit{
	font-weight:bold;
	color:#3399d2;
	font-size:12px;}
.tdNr2{
	color:#828282;}

.leftList{
	float:left;
	width:275px;
	height:594px;
	border-right:1px solid #f1f1f1;
	background:url("../../images/16B/newBg.png") no-repeat left bottom;}
.leftList ul{
	float:left;
	margin:15px 0px 0px 20px;
	display:inline;}
.leftList ul li{
	float:left;
	width:225px;
	height:23px;
	line-height:23px;
	background:url("../../images/16B/icon.gif") no-repeat 0 6px;
	padding-left:20px;
	display:inline;
	color:#3399d2;}
.leftList ul li a:link,.leftList ul li a:hover,.leftList ul li a:active,.leftList ul li a:visited{color:#3399d2;}
.tableList{
	width:600px;
	line-height:20px;
	display:inline;}
.rightList{
	float:left;
	margin-left:10px;
	margin-top:10px;
	display:inline;}
.tdBtR{
	color:#303030;
	text-align:right;
	border-bottom:1px dashed #ccc;}
.newTs{
	float:left;
	margin:180px 0px 0px 260px;
	display:inline;}
.Title{
	width:845px;
	_width:870px;
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	margin:10px 0px 0px 10px;
	padding-left:35px;
	color:#3399d2;
	background:url("../../images/16B/newIcon.gif") no-repeat;}
.Title span{
	float:right;
	font-size:14px;
	margin-left:2px;
	display:inline;}
.Tred{
	width:150px;
	margin-top:3px;
	height:16px;
	background-color:red;}
.Ttext{
	font-weight:normal;}
.cardFl{
	float:left;
	width:850px;
	margin-top:15px;
	margin-left:15px;
	display:inline;}
.cardFl ul{
	float:left;}
.cardFl ul li{
	float:left;
	margin-right:7px;
	cursor:pointer;
	}
.cardFlOn{
	height:35px;
	width:102px;
	_width:112px;
	padding-right:10px;
	font-size:12px;
	font-weight:bold;
	color:#2b2b2b;
	text-align:center;
	line-height:45px;
	background:url("../../images/16B/cardFlOn.png") no-repeat;}
.cardFlOff{
	height:28px;
	line-height:35px;
	margin-top:7px;
	font-size:12px;
	color:white;
	text-align:center;
	width:91px;
	background:url("../../images/16B/cardFlOff.png") no-repeat;}
.listFl{
	float:left;
	width:870px;
	_margin-top:-10px;
	margin-left:15px;
	display:inline;
	border:1px solid #ffd972;}
.tableFl{
	float:left;
	width:870px;
	border-collapse:collapse;}
.tableFl th{
	color:#ff8a00;
	background:#fff8e5;}
.tableFl tr{
	height:25px;}
.tableFl td,.tableFl th{
	border-bottom:1px dashed #ffd972;
	border-left:1px dashed #ffd972;}
.tableGb{
	float:left;
	width:650px;}
.listGb{
	float:left;
	margin-left:13px;
	margin-top:10px;
	display:inline;
	width:220px;
	border-right:1px solid #ddd;
	height:480px;}
.listGb p{
	float:left;
	width:220px;
	font-size:14px;
	line-height:25px;
	color:#333;
	margin-top:10px;
	text-align:center;}
.listGbText{
	float:left;
	margin-top:10px;
	width:715px;
	height:230px;
	overflow:auto;
	overflow-x:hidden;
	background:white;
	border:1px solid #ccc;}
.listGbText p{
	line-height:22px;
	margin:0px;
	padding:0px 5px;}
.newPage{
	float:left;
	padding:10px 0px;
	width:870px;}
.newPage span{
	float:right;
	margin:0px 15px 0px 0px;}
.bor{
	border:1px solid #ddd;}

.yaMain{
	float:left;
	width:775px;
	border-top:1px solid #bfbfbf;}
.yatop,.yamiddle{
	float:left;
	width:860px;
	_margin-bottom:-3px;}
.yafoot{
	float:left;
	width:860px;}
.yanewTop{
	float:left;
	width:775px;
	height:13px;
	background:url("../../images/16B/newTop.png") repeat-x;}
.yanewFoot{
	float:left;
	width:775px;
	height:9px;
	background:url("../../images/16B/newBot.png") repeat-x;}
.yatree{
	float:left;
	width:775px;}
.yaYa{
	float:left;
	width:260px;
	height:315px;
	display:inline;
	margin-left:45px;
	overflow:auto;
	border-right:1px solid #ccc;
	overflow-x:hidden;}
.yaYaTit{
	float:left;
	width:260px;
	height:22px;
	line-height:22px;
	text-indent:35px;
	margin-top:5px;
	color:white;
	font-size:14px;
	background:url("../../images/16B/yaTit.png") no-repeat;}
.yaYaTree{
	float:left;
	margin:10px 0px 0px 5px;
	display:inline;
	width:255px;
	height:315px;}
.yaBtn{
	float:left;
	margin:200px 0px 0px 25px;
	display:inline;}
.yaBtn p{
	margin-top:5px;}
.yaTable{
	float:left;
	width:775px;}
.yaTable th{
	height:20px;
	text-indent:5px;
	background:#3399d2;
	color:white;}
.yaTable td{
	height:32px;
	text-indent:5px;
	border-bottom:1px dashed #ccc;}
.yaSave{
	float:right;
	margin-top:10px;}
.yaFrame{
	float:left;
	width:305px;
	overflow:auto;
	overflow-x:hidden;}