@charset "utf-8";
/*重定义*/
html{
	scrollbar-face-color:#7ca5e0; 
	scrollbar-highlight-color:#FFFFFF; 
	scrollbar-shadow-color:#FFFFFF; 
	scrollbar-3dlight-color:#FFFFFF; 
	scrollbar-arrow-color:#FFFFFF; 
	scrollbar-track-color:#FFFFFF; 
	scrollbar-darkshadow-color:#FFFFFF; 
	scrollbar-base-color:#FFFFFF;
	}
body {
	margin:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:5px;
	font-size:12px;
	color:#000000;
	background-color: #f0fcfe;
}
table,div,span,td,h1,h2,h3,h4,h5,h6{
	font-size:12px;
} 
form{
	margin:0px;
	}

/*伪类定义*/
a:link{
	color:#11197a;
	text-decoration:none;
	}
a:visited{
	color:#11197a;
	text-decoration:none;
	}
a:active{
	color:#11197a;
	text-decoration:underline;
	} 
a:hover{
	color:#11197a;
	text-decoration:none;
	} 

a.tt:link{
	color:#FFFFFF;
	text-decoration:none;
	}
a.tt:visited{
	color:#FFFFFF;
	text-decoration:none;
	}
a.tt:active{
	color:#FFFFFF;
	text-decoration:underline;
	} 
a.tt:hover{
	color:#000000;
	text-decoration:none;
	} 

/*特殊程序相关自定义*/
.drag {
	 position: relative
}

/*点击超连接时不要出现默认状态的虚线边框:a{blr:expression(this.onFocus=this.blur());}*/



/*自定义*/
/*长篇文字内容*/
.word{
	text-indent:20px;
	line-height:150%
}

/*选卡效果*/

.cardActive{
	text-align:center;
	width:93;
	height:25px;
	line-height:25px;
	background-color:#FFFFFF;
	background-image:url(../../images/16B/cardFlOn.png);
	background-position:left;
	background-repeat:no-repeat;
	color:#fff;
	font-weight:bold;
}

.cardNormal{
	width:93px;
	height:25px;
	background-image:url(../../images/16B/cardFlOff.png);
	background-position:left;
	background-repeat:no-repeat;
	cursor:hand;
	text-align:center;
	color:#fff;
}

.cardHover{
	width:102px;
	height:25px;
	background-image:url(../../images/16B/bg_card_hover_s.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:hand;
	height:23px;
	text-align:center;
	}
.cardDisabled{
	background-image:url(../../images/16B/bg_card_normal_s.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:default;
	height:25px;
	color:#888888;
	text-align:center;
	}

.cardTh{
	border-bottom:1pt solid #7bd2ff;
	text-align:right;
}

.cardBody{
	border-right:1px solid #7bd2ff;
	border-left:1px solid #7bd2ff;
	border-bottom:1pt solid #7bd2ff;
	background-color:#FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
}

a.cardLink:link{
	color:#222;
	text-decoration:none;
	}
a.cardLink:visited{
	color:#222;
	text-decoration:none;
	}
a.cardLink:active{
	color:#222;
	text-decoration:underline;
	} 
a.cardLink:hover{
	color:#222;
	text-decoration:none;
	}

/*您的位置*/
table.yourPlace{
	background-image:url(../../images/16B/bg_yourplace.png);
	background-color:#F6F6F6;
	margin-bottom:5px;
	width:100%;
	height:37px;
}
table.yourPlace tr{
	background-position:left;
	background-repeat:no-repeat;
	}
table.yourPlace td{
	color:#ffffff;
	padding-left:10px;
	font-weight:bold;
}
/*标题文字表格*/
table.tabtitle td{
	color:#0b509e;
	font-size:12px;
	font-weight:bold;
	padding-left:25px;
	text-align:left;
	height:27px;
	}
table.tabtitle tr{background:url(../../images/16B/bg_tab_title_02.png) no-repeat;
	}
table.tabtitle{
	height:25px;
	background-image:url(../../images/16B/bg_tab_title.png);
	width:98%;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE', endColorStr='#FFFFFF', gradientType='0');*/
}
/* search titlebar */
.searchTltBar{
	text-indent:0px;
	width:20px;
	background-image:url(../../images/16B/icon_search_bar.png);
	background-position:center;
	background-repeat:no-repeat;
	cursor:hand;
	}
.searchDiv{
	display:none;
	}
		
table.tabMainTop{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#D5D5D5', endColorStr='#FFFFFF', gradientType='0');*/
	height:30px;
	border-left:1px #55add2 solid;
	border-right:1px #55add2 solid;
	border-top:1px #55add2 solid;
	border-bottom:0px #55add2 solid;
	border-collapse:collapse;
}
table.tabMainTop td{
	padding-right:10px;
	letter-spacing:2px;
	background-color:#eaedf0;
}


table.tabMainBot{
	height:30px;
	border-left:1px #55add2 solid;
	border-right:1px #55add2 solid;
	border-top:0px #55add2 solid;
	border-bottom:1px #55add2 solid;
	width:98%;
}
table.tabMainBot td{
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE', endColorStr='#FFFFFF', gradientType='0');*/
	background-color:#F6F6F6;
	text-align:center;
}


/*主体表格定义*/
/*表格外框*/

.tabout{
	border-left:1px #55add2 solid;
	border-right:1px #55add2 solid;
	border-top:4px #a7cee4 solid;
	border-bottom:1px #55add2 solid; 
	background:#f0fcfe;
	border-collapse:collapse;
	width:98%;
}

 /*表头*/
.thListNormal{
	height:25px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	background-image:url(../../images/16B/bg_trlist.png);
	text-align:center;
	vertical-align:middle;
	color:#000000;
	border-left:#55add2 solid 1px;
	border-right:#55add2 solid 1px;
	border-top:#55add2 solid 1px;
	border-bottom:#55add2 solid 1px;
	background-color:#FFFFFF;
}
.thListLeft{
	height:22px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	text-align:left;
	background-image:url(../../images/16B/bg_trlist.png);
	vertical-align:middle;
	color:#000000;
	border-left:#55add2 solid 1px;
	border-right:#55add2 solid 1px;
	border-top:#55add2 solid 1px;
	border-bottom:#6bb2d6 solid 1px;
	background-color:#FFFFFF;
}
.thListRight{
	height:22px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	text-align:right;
	background-image:url(../../images/16B/bg_trlist.png);
	vertical-align:middle;
	color:#000000;
	border-left:#55add2 solid 1px;
	border-right:#55add2 solid 1px;
	border-top:#55add2 solid 1px;
	border-bottom:#6bb2d6 solid 1px;
	background-color:#FFFFFF;
}
.thFormNormal{
	height:25px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#CBCEE0', gradientType='0');*/
	text-align:center;
	background-image:url(../../images/16B/bg_trlist.png);
	vertical-align:middle;
	color:#000000;
	border-left:#55add2 solid 1px;
	border-right:#55add2 solid 1px;
	border-top:#55add2 solid 1px;
	border-bottom:#55add2 solid 1px;
	background-color:#FFFFFF;
}

 /*行*/
.trColor{
	
}

.trWhite{
	
}

.trColor01{

}

.trColor02{

}


 /*单元格列表部分*/
.tdlistCenter{
	height:28px;
	text-align:center;
	border:#55add2 solid 1px;
	}

.tdListRight{
	height:28px;
	text-align:right;
	border:#d8dee7 solid 1px;
}

.tdListLeft{
	height:28px;
	text-align:left;
	border:#55add2 solid 1px;
}

 /*单元格表单部分*/
 .tdFormleft{
	height:28px;
	width:25%;
	text-align:right;
	color:#2764B5;
	background-color:#f0f6ff;
	border:#55add2 solid 1px;
}
.tdFormRight{
	height:28px;
	width:75%;
	text-align:left;
	color:#2764B5;
	background-color:#f0fcfe;
	border:#55add2 solid 1px;
}
.tdFormText{
	height:28px;
	text-align:right;
	color:#2764B5;
	border:#55add2 solid 1px;
	background-color:#f0fcfe;
}
.tdFormInput{
	height:28px;
	text-align:left;
	border:#55add2  solid 1px;
	background-color:#FFFFFF;
}
.tdFormCenter{
	height:28px;
	text-align:center;
	border:#55add2 solid 1px;
	background-color:#FFFFFF;
}

/*表单元素部分*/
.fieldsetStyle{
	width:98%;
	padding-top:10px;
	padding-bottom:10px;
	border:1px solid #7ca5e0;
}
fieldset.fieldsetStyle legend{
	border:1px solid #7ca5e0;
	height:22px;
	line-height:22px;
	margin-bottom:10px;
	padding:1px 10px;
	background:#ffffcc;
	}
.formStyle{

}

.selectStyleNormal{
	border-top:#888 solid 1px;
	border-left:#888 solid 1px;
	border-bottom:#888 solid 1px;
	border-right:#888 solid 1px;
	background-color:#FFFFFF;
	margin-left:10px;
}

.selectStyleLong{
    width:100%;
    border-top:#323230 solid 1px;
	border-left:#323230 solid 1px;
	border-bottom:#FAFEFA solid 1px;
	border-right:#FAFEFA solid 1px;
	background-color:#FFFFFF;
}

.textarea{
	border-top:#a7b7c1 solid 1px;
	border-left:#a7b7c1 solid 1px;
	border-bottom:#a7b7c1 solid 1px;
	border-right:#a7b7c1 solid 1px;
	background:#e0f2ff;
	overflow:auto;
	width:80%;
	line-height:140%;
	behavior:url(../css/16B/input_text.htc);
}

.button{
	width:70px;
	height:25px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#90baf2', endColorStr='#688bcc', gradientType='0');*/
	background-image:url(../../images/16B/btn_normal.png);
	behavior:url(../css/16B/button.htc);
	border:none;
	color:#fff;
	text-align:center;
}

.buttonNormal{
	height:25px;
	width:70px;
	/*filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#90baf2', endColorStr='#688bcc', gradientType='0');*/
	background-image:url(../../images/16B/btn_normal_off.png);
	behavior:url(../css/16B/button_normal.htc);
	border:none;
	color:#000000;
	text-align:center;
}

.buttonBig{
	width:150px;
	height:21px;
	background-image:url(../../images/16B/btn_normal_off.png);
	behavior:url(../css/16B/button_normal.htc);
	border:#707070 solid 1px;
	color:#000000;
	text-align:center;
}

.goButton{ 
	width:25px;
	height:19px;
	border:#5A6CA2 solid 0px;
	color:#FFFFFF;
	text-align:center;  
	cursor:hand;
	font-size:12px;
}

.arrowButton{
	width:24px;
	height:21px;
	background-image:url(../../images/16B/btn_normal_off.png);
	behavior:url(../css/16B/button_normal.htc);
	border:#707070 solid 1px;
	color:#000000;
	text-align:center;
	margin-top:4px;
	cursor:hand;
}

.inputTextLong{
	width:90%;
	border-top:#7fb1e0 solid 1px;
	border-left:#7fb1e0 solid 1px;
	border-bottom:#7fb1e0 solid 1px;
	border-right:#7fb1e0 solid 1px;
	background:#e0f2ff;
	height:20px;
	font-size:12px;
	behavior:url(../css/16B/input_text.htc);
}

.inputTextNormal{
	border-top:#a7b7c1 solid 1px;
	border-left:#a7b7c1 solid 1px;
	border-bottom:#a7b7c1 solid 1px;
	border-right:#a7b7c1 solid 1px;
	background:#e0f2ff;
	height:20px;
	font-size:12px;
	behavior:url(../css/16B/input_text.htc);
}

.inputTextNumber{
	border-top:#a7b7c1 solid 1px;
	border-left:#a7b7c1 solid 1px;
	border-bottom:#a7b7c1 solid 1px;
	border-right:#a7b7c1 solid 1px;
	background:#e0f2ff;
	height:20px;
	font-size:12px;
	text-align:right;
	behavior:url(../css/16B/input_text.htc);
}

.inputTextSmall{
	width:20px;
	border-top:#bbb solid 1px;
	border-left:#bbb solid 1px;
	border-bottom:#bbb solid 1px;
	border-right:#bbb solid 1px;
	background:#fff;
	height:17px;
	font-size:12px;
	text-align:center;
	color:#7ca5e0;
	behavior:url(../css/16B/input_text.htc);
}
.inputTextFile{
	border-top:#a7b7c1 solid 1px;
	border-left:#a7b7c1 solid 1px;
	border-bottom:#a7b7c1 solid 1px;
	border-right:#a7b7c1 solid 1px;
	background:#e0f2ff;
	height:20px;
	font-size:12px;
	behavior:url(../css/16B/input_text.htc);
}

/* notice page */
.noticeWord{
	color:#ff99000;
	}

.objectadd{
	border-bottom:1px dashed #ccc;
	width:98%;
	}
.f14{font-size:14px;}
.inputTextNormalgary{
	border:1px solid #d8d8d8;
	background:#e0f2ff;
	height:22px;
	font-size:12px;
	background:url("../../images/16B/btn_bggray.png") repeat-x;
}
.textareagray{
	border:1px solid #d8d8d8;
	background:url("../../images/16B/area_bggray.png") repeat-x;
	overflow:auto;
	width:98%;
	line-height:140%;
}

/*步骤样式*/
.bztable{
	margin-bottom:10px;
	width:98%;
	height:44px;
}
.bztable td{
	border:none;}
.bzLeft{
	float:left;
	background:url("../../images/16B/bz_bg_left.png") no-repeat;
	width:3px;
	height:44px;}
.bzMid{
	float:left;
	background:url("../../images/16B/bz_bg_middle.png") repeat-x;
	height:44px;
	width:788px;}
.bzMid ul{
	float:left;
	padding:0px;
	margin:6px 0px 0px 5px;
	display:inline;
	list-style:none;}
.bzMid ul li{
	float:left;
	width:129px;
	height:37px;
	cursor:pointer;}
.bzRight{
	float:left;
	background:url("../../images/16B/bz_bg_right.png") no-repeat;
	width:4px;
	height:44px;}
.step1_On{	
	background:url("../../images/16B/step1_On.png") no-repeat;}
.step1_Off{
	background:url("../../images/16B/step1_Off.png") no-repeat;}
.step2_On{
	background:url("../../images/16B/step2_On.png") no-repeat;}
.step2_Off{
	background:url("../../images/16B/step2_Off.png") no-repeat;}
.step2_None{
	background:url("../../images/16B/step2_None.png") no-repeat;}
.step3_On{
	background:url("../../images/16B/step3_On.png") no-repeat;}
.step3_Off{
	background:url("../../images/16B/step3_Off.png") no-repeat;}
.step3_None{
	background:url("../../images/16B/step3_None.png") no-repeat;}
.step4_On{
	background:url("../../images/16B/step4_On.png") no-repeat;}
.step4_Off{
	background:url("../../images/16B/step4_Off.png") no-repeat;}
.step4_None{
	background:url("../../images/16B/step4_None.png") no-repeat;}
.step5_On{
	background:url("../../images/16B/step5_On.png") no-repeat;}
.step5_Off{
	background:url("../../images/16B/step5_Off.png") no-repeat;}
.step5_None{
	background:url("../../images/16B/step5_None.png") no-repeat;}
.step6_On{
	background:url("../../images/16B/step6_On.png") no-repeat;}
.step6_Off{
	background:url("../../images/16B/step6_Off.png") no-repeat;}
.step6_None{
	background:url("../../images/16B/step6_None.png") no-repeat;}
.bzFrame{
	float: left;
    width:100%;
	height:900px;
	border:none;}


/*短信页面*/
.msgFrame{
	float:left;
	width:220px;
	height:416px;
	background:url("../../images/16B/msg_bg.gif") no-repeat;
	}
.msgTo{
	float:left;
	margin:79px 0px 0px 13px;
	display:inline;
	width:195px;
	height:35px;
	background:#212121;}
.msgInput{
	width:120px;}
.msgTo span{
	float:left;
	margin-left:10px;
	margin-top:8px;
	color:#c8c8c8;
	font-weight:bold;
	line-height:25px;}
.msgWord{
	float:left;
	margin:5px 0px 0px 22px;
	display:inline;
	width:175px;
	}
.msgWord p{
	line-height:25px;
	color:#3c4349;
	margin:0px;
	padding:0px;
	font-weight:bold;}
.msgText{
	width:175px;
	overflow: auto;
	background:#f3f3f3;
	font-size:12px;
	border: 1px solid #cccccc;
   }
.msgWord span{
	float:right;
	margin-top:9px;
	margin-left:10px;
	}

.msgFrame_ok{
	float:left;
	width:288px;
	height:546px;
	background:url("../../images/16B/msg_ok_bg.png") no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="./../images/16B/msg_ok_bg.png"); 
	_background:none;
	}

/*邮件页面*/
.mailFrame{
	float:left;
	width:463px;
	height:380px;
	border:1px solid;}
.mailTit{
	float:left;
	width:463px;
	height:35px;
	font-weight:bold;
	color:#474747;
	line-height:35px;
	text-indent:15px;
	border-bottom:1px solid #657ca8;
	background:#e3e3e3;}
.mailLeft{
	float:left;
	padding-top:20px;
	width:80px;
	height:322px;
	_height:342px;
	border:1px solid white;
	background:#e8f2fe;}
.mailLeft p{
	line-height:22px;
	width:80px;
	text-align:right;
	color:#474747;
	margin:0px 0px 10px 0px;
	padding:0px;}
.mailRight{
	float:left;
	padding-top:20px;
	height:322px;}
.mailRight p{
	width:355px;
	_display:inline;
	margin:0px 0px 10px 5px;
	padding:0px;
	}
.mailText{
	width:345px;
	overflow: auto;
	background:#f3f3f3;
	font-size:12px;
	border: 1px solid #cccccc;
   }
.mailInput{
	width:345px;
	background:#f3f3f3;
	font-size:12px;
	height:20px;
	line-height:20px;
	border: 1px solid #cccccc;
	}
.mailRight span{
	float:right;
	margin-right:10px;
	}
.mailRight_ok{
	float:left;
	width:355px;
	background:url("../../images/16B/mail_ok.png") no-repeat center;
	padding-top:20px;
	height:322px;}


/*工作动态页面*/
.wDiv{
	width:100%;
	margin:0px auto;
	color:#333;
	margin-bottom:15px;}
.wTit{
	width:100%;
	height:28px;
	line-height:28px;
	text-align:center;
	border-bottom:1px dashed #088cc4;
	font-size:18px;
	font-family:黑体;
	}
.wTPA{
	width:100%;
	text-align:center;
	font-weight:bold;}
.wDiv p{
	margin:0px;
	padding:0px;
	line-height:22px;}
.wPic{
	float:left;
	width:100%;
	height:4px;}
.wPic ul{
	float:left;
	width:100%;
	list-style:none;
	margin:4px 0px 0px 0px;
	padding:0px;
	height:120px;}
.wPic ul li{
	float:left;
	margin:8px 0 0px 15px;
	display:inline;}


/*案例库查看*/
.aDiv{
	width:100%;
	margin:0px auto;
	color:#333;
	margin-bottom:15px;}
.aTit{
	width:100%;
	height:28px;
	line-height:28px;
	text-align:center;
	font-size:18px;
	font-family:黑体;
	}
.aDiv p{
	margin:0px;
	padding:0px;}
.aDiv ul{
	float:left;
	width:100%;
	list-style:none;
	margin:4px 0px 0px 0px;
	padding:0px;}
.aDiv ul li{
	float:left;
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom:1px dashed #cccccc;
	display:inline;}
.aw10{
	width:11%;
	text-align:right;}
.aw40{
	width:38%;}
.afra{
	float:left;
	margin-top:10px;
	width:100%;
	border:1px solid #cccccc;}
.afra span{
	float:left;
	padding:0px;
	margin:0px;
	width:100%;
	height:29px;
	line-height:29px;
	border:1px solid white;
	background:url("../../images/16B/bg_alTit.png")}
.afra p{
	float:left;
	width:100%;
	line-height:22px;
	margin:0px;
	padding: 0px 5px;
	text-indent:24px;}

/*分页导航样式*/
/*.pTdBorder{}
.pTotal{ 
          width:140px;
          text-align: center;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #C1B98B;
}
.pPageIn{
          width:30px;
          text-align: center;
          font-weight: bold;
          color: #968E5D;
          text-DECORATION: underline;
          background-color: #FFFFFF;
          border-right: #E7E4D2 1px solid;
	  border-top: #C2BEA9t 0px solid;
	  border-left: #C2BEA9t 0px solid;
	  border-bottom: #C2BEA9 0px solid;
}
.pPage{
          width:30px;
          text-align: center;
          color: #968E5D;
          background-color: #FFFFFF;
		border-right: #DCD8C3 1px solid;
	  border-top: #C2BEA9t 0px solid;
	  border-left: #C2BEA9t 0px solid;
	  border-bottom: #C2BEA9 0px solid;
}
.pPageGo{
          width:180px;
          text-align: center;
          color: #968E5D;
          background-color: #FFFFFF;
}
.TabWelcome{
	width:496px;
	border:1px solid #000000;
	margin-top:100px;
	}
*/


/*造型表格*/
/*
.bTabOut{
    height:32px;
    border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:0px #ACA791 solid;
	border-bottom:0px #ACA791 solid;
	background-repeat: repeat-x;
	background-color: #F5F2E3;
}
.bTabOutB{
        height:32px;
        border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:0px #ACA791 solid;
	border-bottom:1px #ACA791 solid;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image:url('../../images/11A/bg_button_bot.gif');
	background-repeat: repeat-x;
}
.bTabOutT{
        height:32px;
        border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:0px #ACA791 solid;
	border-bottom:1px #ACA791 solid;
	background-repeat: repeat-x;
	background-color: #F5F2E3;
}
.tabOutF{
        border-left:1px #ACA791 solid;
	border-right:1px #ACA791 solid;
	border-top:1px #ACA791 solid;
	border-bottom:1px #ACA791 solid;

}
.tabBgA{
        border-left:0px #ACA791 solid;
	border-right:0px #ACA791 solid;
	border-top:0px #D2CDB4 solid;
	border-bottom:1px #D7D2B9 solid;
}

.pButton {
	border-right: buttonhighlight 1px solid;
	border-top: buttonshadow 1px solid;
	border-left: buttonshadow 1px solid;
	border-bottom: buttonhighlight 1px solid;
	background-color:#EAE9E4;
}

.eButton {
	border-right:#000000 1px solid;
	border-top: buttonface 1px solid;
	border-left: buttonface 1px solid;
	border-bottom: #000000 1px solid;
	background-color:#EAE9E4;
}

.rButton {
	border-right: buttonface 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: buttonface 1px solid;
	background-color: buttonhighlight;
}

.lButton {
	border-right: buttonshadow 1px solid;
	border-top: buttonshadow 1px solid;
	border-left: buttonshadow 1px solid;
	border-bottom: buttonshadow 1px solid;
	background-color: #FFFFFF;
}

.tButton {
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
	border-left: buttonhighlight 1px solid;
	border-bottom: buttonshadow 1px solid;
	background-color: buttonface;
}
*/