@charset "utf-8";
body{
	margin:0px;
	background-color:#68a8a1;
	font-size:12px;
	background-image:url(../../images/16G/bg_foot.png);
	background-position:bottom;
	background-repeat:repeat-x;
}

table{
	font-size:12px;
}

div{
	font-size:12px;
}
.footInfo{
	height:25px;
	line-height:25px;
	text-align:center;
	color:#FFFFFF;
	}


