body {
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-SIZE:9pt;
	BACKGROUND-COLOR: #0041DD;
	MARGIN-LEFT: 0px;
	MARGIN-TOP: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-BOTTOM: 0px;
    SCROLLBAR-ARROW-COLOR:#FFFFFF;
	SCROLLBAR-BASE-COLOR:#6D8693;
	SCROLLBAR-SHADOW-COLOR:#F3F3F3;
	SCROLLBAR-FACE-COLOR:#2A58A6;
	SCROLLBAR-HIGHLIGHT-COLOR:#F3F3F3;
	SCROLLBAR-DARK-SHADOW-COLOR:white;
	SCROLLBAR-3D-LIGHT-COLOR:#9BAAC1;
}
div{FONT-SIZE:9pt;
}
table{
	FONT-SIZE: 9pt; 
	LINE-HEIGHT: 140%
}
a{blr:expression(this.onFocus=this.blur());}
a:link{COLOR:#2764B5;TEXT-DECORATION:none}
a:visited{COLOR:#2764B5;TEXT-DECORATION:none}
a:active{COLOR:#2764B5;TEXT-DECORATION:underline}
a:hover{COLOR:#FF9900;TEXT-DECORATION:none}
.inputText{
	BORDER-TOP:#357DCF solid 1px;
	BORDER-LEFT:#357DCF solid 1px;
	BORDER-BOTTOM:#357DCF solid 1px;
	BORDER-RIGHT:#357DCF solid 1px;
	BACKGROUND:#BDDCFC;
	HEIGHT:20px;
	FONT-SIZE:12px;
	COLOR:#0041DD;
	TEXT-ALIGN:center;
}
.noticeWords{
	color:#FF3300;
}
