package ${plugin.parameter.acitionPackageName};
#set( $objectName = "$table.getVariableName()")
#set( $tableName ="$table.getName()")
#set( $className = "${table.destinationClassName}")
#set( $flag = "true" )
#####foreach($relationshipRole in $table.relationshipRoles)
#####set( $one2one = $relationshipRole.relation.one2One )
#####if($one2one)
#####set($flag = "flase")
#####end
#####end
import com.taiji.core.webwork.action.ProtectedListAction;
import  ${plugin.parameter.domainPackageName}.${className};
import com.taiji.core.util.PaginationSupport;
import java.util.List;
import com.opensymphony.xwork.ActionContext;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;

public class List${className}Action extends ProtectedListAction {
	private static final Log log = LogFactory.getLog(List${className}Action.class);
	private static final String TABLE_NAME = "${tableName}";
	
	public String getTableName() {
		return TABLE_NAME;
	}
	public Class getPersistentClass() {
		return ${className}.class;
	}
	public PaginationSupport getInitResult(){
		if(ActionContext.getContext().getSession().get("${objectName}Id")!=null)
		   ActionContext.getContext().getSession().remove("${objectName}Id");		   
		String hql = "from ${className} ${objectName}  order by ${objectName}.id desc";
		return coreService.find(hql,getPageNum());		   
	}
} 