.linktext {
	FONT-SIZE:12px;CURSOR:"hand";color="#0066ff"
}
.titletext {
	FONT-SIZE:24px;CURSOR:"default";color="#ff9933"
}
.normaltext {
	FONT-SIZE:12px;CURSOR:"default";color:"#3399ff";
}
.normalinput {
	FONT-SIZE:12px;BORDER-RIGHT: #3399FF 1px solid;BORDER-TOP: #3399FF 1px solid;BORDER-LEFT: #3399FF 1px solid;BORDER-BOTTOM: #3399FF 1px solid;color:#3399FF;background-color=#FFFFFF
}
.normalinput2 {
	FONT-SIZE:12px;BORDER-RIGHT: #3399FF 1px solid;BORDER-TOP: #3399FF 1px solid;BORDER-LEFT: #3399FF 1px solid;BORDER-BOTTOM: #3399FF 1px solid;color:#3399FF;background-color=#FFFFFF;width="90%"
}
.blogtitletext {
	FONT-SIZE:18px;CURSOR:"default";color="#009900";font-weight:bold
}
.bloginfotext {
	FONT-SIZE:12px;CURSOR:"default";color="#3399ff"
}
.mybutton {
	BORDER-RIGHT: #FFFFFF 1px solid;BORDER-TOP: #FFFFFF 1px solid;BORDER-LEFT: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;background-image:url("../image/button_bg.gif");behavior:url(button.htc));CURSOR:'hand';height:22px;color:#336699
}
.inputfield {
	BORDER-RIGHT: #3399FF 1px solid;BORDER-TOP: #3399FF 1px solid;BORDER-LEFT: #3399FF 1px solid;BORDER-BOTTOM: #3399FF 1px solid;height:22px;color:#3399FF
}
