#set ($paramName = $tag.substringPost($!webwork.htmlEncode($parameters.name),'.'))
<input type=hidden  name=$paramName>
<input type=hidden  name=$!webwork.htmlEncode($parameters.name) id=$!webwork.htmlEncode($parameters.name)>
<p #if ($parameters.id)   id=${paramName}Id> #end
<SCRIPT language=JavaScript type=text/javascript>
 #set($singleyin="'")
var ${paramName}ComboBox = new ComboBox(${singleyin}${paramName}ComboBox${singleyin}, document.getElementById('${paramName}Id'),document.getElementById('$!webwork.htmlEncode($parameters.name)'));
#if ($parameters.list)
#set($count =0)
#set( $items = $parameters.list )
 #foreach( $item in $items )
       #set($count = $count+1)
       $stack.push($item)
        
        #if( $parameters.listKey )
            #set( $itemKey = $stack.findValue($parameters.listKey) )
        #else
            #set( $itemKey = $item )
        #end

        #if( $parameters.listValue )
            #set( $itemValue  = $stack.findValue($parameters.listValue) )
        #else
            #set( $itemValue = $item )
        #end
 #set(${comboxItemKey} =$!webwork.htmlEncode($itemKey))
 #set(${comboxItemValue} = $!webwork.htmlEncode($itemValue))
 #set($context='.add')
 var comboxItem${count}= new ComboBoxItem(${singleyin}${itemValue}${singleyin},${singleyin}${itemKey}${singleyin});
${paramName}ComboBox${context}(comboxItem$count);
#set ($trash = $stack.pop())
#if( $tag.contains($parameters.nameValue, $itemKey) )
 #set($choosecontext='.choose')
${paramName}ComboBox${choosecontext}(${singleyin}${itemKey}${singleyin},${singleyin}${itemValue}${singleyin});
#end    
#end
#end
</SCRIPT>
</p>

