@charset "utf-8";
/* CSS Document */
/*************** 背景颜色 ***************/
body {
	background:#f1f1f1 url(../images/bg_main.png) repeat;
}
	

tbody{width:100%;}
/****失去鼠标手势的链接*****/
a.link-blur{
	cursor:default;
	text-decoration:none;
	}

/****表格的tfoot样式****/
tfoot{
	margin-left:auto;
	 margin-right:auto;	
	width:100%;
	*display:inherit;
	text-align:center;	
	}
/***line分割display:inline-table!important;线****/
.x-line{
		display:block;
	width:100%;
	height:9px;
	border:0;
    padding:0;
	border:0;
	background: url(../images/bg_search_line.png) repeat ;
	margin:0 auto 5px auto;	
	text-align:center;
	overflow:hidden;
	}

.y-line img{
	margin:0 auto;
	}
/***ui-title 标题样式***/
.ui-title{	
	margin:0 auto;
	padding:0;
	border-bottom:1px solid #c3c3c3;
	width:100%;
	height:50px;
	}
.ui-title img{
	width:45px;
	margin:10px 10px 0 0;
	}
.ui-title-icon{	
	margin:0 8px;		
	}
.ui-title-cnt{
	height:46px;
	line-height: 46px;
	vertical-align: middle;
	font-size:18px;
	color:#0d67b5	
	}
.ui-title input{
	margin:10px 10px 0 0;
	}

.ui-subtitle01{
	height:26px;
	margin:0 0 5px 15px ;	
	}
.ui-subtitle01-pic{
	display:block;
	background:url(../images/pic_title02_left.png)  no-repeat left top;
	width:15px;
	height:26px;
	}
.ui-subtitle01-cnt{
	display:block;
	background:url(../images/bg_title02_right.png)  no-repeat right top;
	height:26px;
	width:70px;
	color:#2e2e2e;
	line-height:26px;
	vertical-align:middle;
	margin:0 15px 0 0 20px;
	}

/***searchbox***/
.ui-search{
     width:98%;
	 margin:0 auto ;	 
	}
.ui-search-general{
	border: #b7c3cc solid;	
	border-width:1px 1px 1px 1px;
	width:100%;
	background:#fafafa ;
    margin:5px 0;
}
.ui-search-title{
	width:98%;
	margin:0 auto;
	height:36px;
	}
.ui-search-title  font{
	float:left;
	color:#255ead;
	font-size:14px;
	font-weight:bold;
	margin:0 0 0 10px;
	}
.ui-search-advance{
	border: #87a6be solid;	
	border-width:2px 1px 1px 1px;
	width:100%;
	background:#fcfcfc  ;	
}
.col-search-advance-main{
   float:left;
   height:80px;
   width:100%;
}
.col-search-advance-sub{
  width:90px;
  margin-left:-90px;
  float:right;
  height:80px;
}
.search-advance-main-wrap{
	margin-right:100px;
	height:80px;	
}
#btn-searchgo{
	display:block;
	width:81px;
    height:62px;
    margin:8px 0 0  0;
}
.ui-searchbar-border{
	display:block;
	border-left:1px #91adc1 solid;
	border-bottom:1px #91adc1 solid;
	border-right:1px #71adc1  solid;
	height:4px;
	background: #f0f7fd;
	width:100%;
	overflow:hidden;
}
.ui-searchbar-btn{
	display:block;
	width:125px;
	height:28px;	
	float:right;
	margin:0 40px 0 0;
	padding-top:12px;
}
.ui-searchbar-btn a{
	display: block;	
	width:125px;
	height:28px;
}
.hide-search{
	background:url(../images/page_bg.png)  no-repeat;
	background-position: -4px  -4px;
	width:125px;
	height:28px;
	margin:0 auto;
	margin-top:-2px;	
}
.show-search{
	background:url(../images/page_bg.png)  no-repeat;
	background-position: -135px -4px ;
	width:125px;
	height:28px;
	margin:0 auto;
	margin-top:-2px;	
}
.ui-search-title{
	
	height:28px;
	_height:20px;
	margin:8px 0;
	width:100%;
}
.ui-search-cnt{
	_display:inline;
	margin:10px auto;
	width:100%;
	}
.ui-search-cnt  td, caption{
	_display:inline;
	padding:0.3em 0.5em;
	margin:0;
	line-height:1.8em;
	}	
	
/***重置form元素**/
form textarea {
                width: 90% !important;
                font-family:"微软雅黑","宋体";
                }           
form select {
                padding:2px 3px;
                background: #fff;
				height:26px;/**为了和其他input的22px高效果一样**/
				font-family:"微软雅黑","宋体";
                }
form input:focus,textarea:focus {
	-moz-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-focus-ring-color:none;
	border-color:#c4c4c4;
	font-family:"微软雅黑","宋体";
	background-color:#fef9ae;}	/**无效需要调**/	
form input:focus,textarea:focus,select:focus {
	outline-width:0; /* No outline border for Safary */
}
form input[type="text"],input[type="password"],input[type="select"],input[type="search"],input[type="file"],select {
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	padding:2px 3px;
	color:#2e2e2e;
	float:left;
	font-family:"微软雅黑","宋体";
	height:20px;
}
form textarea{
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	font-size:12px;
	padding:2px 3px;
	color:#2e2e2e;
	float:left;
	font-family:"微软雅黑","宋体";
	height:80px;
	}
form input[type="file"]{
	height:24px;/**为了和其他input的22px高效果一样**/
	}
form input[type="checkbox"],
form input[type="radio"] {
				padding:2px 10px 0 0;
                background: none;
				border: 0;
				margin:0 ;
				vertical-align: middle; 
                }
form input[type="button"],[type="reset"],[type="submit"]{
	cursor:pointer;
	font-family:"微软雅黑","宋体";
	border:0;/**复合定义样式**/
	}
.ui-input-wdm{
	 width: 70% !important;
	 min-width:100px;
	}

.upLoadTable{
	border-left:#eeeded solid 0px; border-bottom:#eeeded solid 0px;
}
fieldset {
	border:0 none;
	border-top:1px solid #b9b9b9;
	margin:0 0;
	padding:2px 0;	
}
form label {
                
                padding: 0 6px 0 0;
				vertical-align: middle; 
				white-space:nowrap!important;		
    			 /**强制不折行word-break:keep-all;word-wrap:false;**/			
                }/***是必填项是用这个便签定位浮动***/
                
form p small {
                font-size: 0.75em;
                color: #777;
                }			
legend {
	display:block;
	color:#026db9;
	font-weight:bold;
	padding:0 5px 0 0;
	margin:0 0 5px 0;
    padding:0;
    border:0;
    outline:0;
    font-size:110%;
    vertical-align:baseline;
    background:transparent;
}
/**模块化form元素**/
.required{
	color:#F00;
	font-size:16px;
	font-weight:bold;
	float:left;
	margin:0;
	padding:2px 4px;
	}/**必填项**/
.note{
	display:block;
	float:left;
	color:#6d6d6d;
	font-size:12px;	
	padding:0 5px;
	}
.ui-form{
	width:95%;
	margin:5px auto;
	padding:0;
	}/** aileen modify 20120920**/
/**t一行1列的表单**/
.ui-table-cl1{
	text-align:left;
	}
.ui-form-cl2-l{
	width:30%;
	text-align:right;
	}
.ui-form-cl2-r{
	text-align:left;
	background /*屏蔽IE6*/:transparent url(../images/page_bg.png) top no-repeat ;
	background-position /*屏蔽IE6*/:0 -680px;  
	}
/**t一行4列的表单**/
.ui-form-cl4-l{
	width:20%;
	text-align:right;
	}
.ui-form-cl4-r{
	text-align:left;
	background /*屏蔽IE6*/:transparent url(../images/page_bg.png) top no-repeat ;
	background-position /*屏蔽IE6*/:0 -29px ;
	}/**一行4列**/
/**t一行6列的表单**/
.ui-form-cl6-l{
	width:100px;
	text-align:right;
	}
.ui-form-cl6-r{
	text-align:left;
	}/**一行6列**/	

/*****表单+列表组合的附属区域框样式*****/
.bg-subarea{
	border:1px solid #c9c9c9;
	background:#ffffff;
	padding:5px 0 5px 0;
	width:98%;
	margin:0 auto 10px auto;
	}
/****信息列表标题title样式*****/
.ui-list-title{
     background-position:-1px 0;
     height:36px;
     border: solid #cdcdcd;
     border-width:0 1px 0 1px ;
     width:98%;
     margin:5px auto 0 auto;
}
.ui-list-title-img{
	display: block;
 	background: url(../images/page_bg.png) no-repeat ;
 	background-position:-131px -1px;
 	width:38px;
 	height:36px;
 	margin:0;
 	float: left;
 	padding:0;
}
.ui-list-title h4{
	display: block;
	font-weight: bold;
	height:36px;
	float:left;
	line-height:36px;
	vertical-align: middle;
	padding:0 0 0 5px;
	letter-spacing: 0.1em;
	color:#555555
}
/****核心列表样式 list****/
.ui-list-core{
	width:98%;
	margin: auto;
	border-right:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #c9c9c9;
}
.ui-list-nobtnbar{
	width:98%;
	margin:0 auto;
	border-right:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	overflow:auto;
	white-space:normal;
	}
/****table 样式***/
.ui-table {
	 width:100%;
	 margin:0 auto;
	 padding:2px;
	}
.tr-even-bg{ 
		background:#f6f7f7;
}  /** 偶数行样式**/
.tr-odd-bg{ 
		background:#ffffff;
		
}  /** 奇数行样式**/
.selected{
		 background:#d8e4ef;
	 }  
.stripetb tr.over td{
		background:#fff798;
	} /**这个将是鼠标高亮行的背景色**/ 
	
.list-fixed {
	table-layout:fixed;
	margin:0 0 10px 0;
	
	}/***定义每个th宽度超出会出横向滚动***/
.ui-table-list{
	border-bottom:1px solid #d7d7d7;
	}
.ui-table-list th{
	background:#ededed url(../images/page_x.png) repeat-x;
	background-position:0 0;
	height:30px;
	border-bottom:1px solid #d7d7d7;
	text-align:center;
	border-right:1px solid #dedede;
	white-space:nowrap;
	
	}
.ui-table-list th img { vertical-align:text-top;}
.ui-table-list td, caption{
	height:28px;
	line-height:1.8em;
	text-align:center;
	padding:3px 2px;
	border-right:1px solid #eaeaea;
	border-bottom: 1px solid #eeeeee;
	}
.ui-table-list caption{
	background:#d4eeff;
	}
.ui-table-list td span{
	display:block;
	float:left;	
	padding: 4px 6px;	
	}
.ui-table-form {
	border-top:1px solid #e0e0e0; 
	border-right:1px solid #e0e0e0; 
	background:#ffffff  !important;/**firefox ie7 背景颜色定义 其他游览器js定义隔行**/
	}
	
.ui-table-form th{
	background:#f5f5f5;
	font-size:12px;
	text-align:right;
	padding:3px 1px;
	margin:0;
	border-bottom:1px solid #e0e0e0; 
	line-height:2em;
	border-left:1px solid #e0e0e0; 
	}
	
.ui-table-form td, caption{
	padding:0.3em 1em;
	margin:0;
	border-bottom:1px solid #e0e0e0; 
	line-height:2em;
	border-left:1px solid #e0e0e0; 

	}
/***复合列表的样式***/
. ui-table-comlist{
	
	}
.ui-table-comlist th{
	background:#ededed url(../images/page_x.png) repeat-x;
	background-position:0 0;
	height:30px;
	border-bottom:1px solid #d7d7d7;
	text-align:center;
	border-right:1px solid #dedede;
	white-space:nowrap;
	
	}
.ui-table-comlist td, caption{
	height:28px;
	line-height:1.8em;
	text-align:center;
	padding:3px 2px;
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	}
.ui-table-comlist caption{
	background:#d4eeff;
	}
.ui-table-comlist td span{
	display:block;
	background:#fff2b6;
	border:1px  #cbb9a2 dashed;
	}
/*****搜索面板的table样式******/
.ui-table-search{
   margin:0 10px;
   width:96%;
  
   
}

.ui-table-search tr{
}
.ui-table-search td, caption{
	padding:0.5em 1em;
	border-bottom:1px dashed #cccccc;
	
	margin:0.2em 0;
	line-height:2em; 
}


/**表单按钮***/
.ui-btn{
	font-family:"微软雅黑","宋体";
	width:64px;
	height:33px;
	line-height:33px;
	vertical-align:middle;
	padding:0 0 3px 0!important;
	padding:0;
	margin:3px 2px 3px 6px;
	color:#0c1d3d;
	font-size:12px;
	text-align:center;
	}
a.ui-btn{
	display:block;
	float:left;	
	}/***a链接定义的时候 增加的属性 给列表的操作按钮样式***/
.ui-btn-normal{
	background:url(../images/button_bg.png) top no-repeat ;
	background-position:-6px -44px;
	color:#0c1d3d;
	
	}
	
.ui-btn1{
	font-family:"微软雅黑","宋体";
	width:107px;
	height:38px;
	line-height:33px;
	vertical-align:middle;
	padding:0 0 3px 0!important;
	padding:0;
	margin:3px 2px 3px 6px;
	color:#0c1d3d;
	font-size:12px;
	text-align:center;
	}	

.ui-btn3-green{
	background:url(../images/btn3.gif) ;
	ackground-position:0px 0px;
	}
	
.ui-btn-green{
	background:url(../images/button_bg.png) top no-repeat ;
	background-position:-6px -120px;
	}
.ui-btn-blue{
	background:url(../images/button_bg.png) top no-repeat ;
	background-position:0 -68px;
	color:#ffffff;
	}
.ui-btn-yellow{
	background:url(../images/button_bg.png) top no-repeat ;
	background-position:-6px -8px;
	color: #b2542f;
	}
.ui-btn-gray{
	background:url(../images/button_bg.png) top no-repeat ;
	background-position:-6px -80px;
	color: #555555;
	}
.ui-button-check{	
	border:0 solid #c3b199;
    background:url(../images/bg_btn_check.png) no-repeat;
	height:20px;
	color:#572e1c;
	padding:0 2px;
	margin: 2px;
	font-size:12px;
	line-height:20px;
	vertical-align:middle;
	width:34px;
	float:left;
	cursor:pointer;
	}
.ui-btn-sub{
	background:url(../images/button_bg.png)  no-repeat ;
	background-position:-5px -120px;
	color: #ffffff;
	font-size:13px;
	width:94px;
	height:33px;
	margin:0 4px;
	cursor:pointer;
	line-height:30px;
	vertical-align:middle;
	}
.ui-btn-inlist{
	background:url(../images/button_bg.png)  no-repeat ;
	background-position:0 -123px;
	color:#ffffff;
	font-family:"微软雅黑","宋体";
	width:50px;
	height:24px;
	line-height:23px;
	vertical-align:middle;
	padding:0 0 3px 0!important;
	padding:0;
	margin:2px 3px;
	font-size:12px;
	text-align:center;
	}
.ui-btn-inform{
	display:block;
	width:120px;
	height:25px;
	border:1px solid #c3b199;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -388px;	
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	color:#613f18;
	}
.ui-btn-inform:hover{
	color:#613f18;
	text-decoration:none;
	}
/****按钮样式***/
.btn-sub{
	width:98%;
}
.ui-button{
	display:block;
	padding:0;
	cursor:pointer;
	}
.ui-button-icon-left{
	width:120px;
	height:25px;
	border:1px solid #c3b199;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -388px;	
	}
.ui-button-bar{
	padding:0 10px;
	height:24px;
	margin:2px 2px 0 2px;
	border:1px solid #abc0d6;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -418px;	
	float:left;/**ie6 2***/
	}
.ui-button-bar:hover{
	border:1px solid #b7c7a1;
	text-decoration:none;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -341px;	
	height:24px;
	}
.ui-icon-list{
	display:block;
	float:left;
	width:18px;
	padding:2px 0 0 0px;
	}
.ui-icon img{
	width:16px;
	float:left;
	border:0;
	padding:4px 0 0 0;
	}
.ui-button-text{
	display:block;
	height:25px;
	float:left;
	line-height:25px;
	vertical-align:middle;
	padding:0 0 0 3px;
	color:#493c2e;
	font-size:12px;
	font-weight:normal;
	}
.ui-button-text-bar{
	display:block;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	float:left;
	padding:0 0 0 6px;
	color:#493c2e;
	}
.ui-button-noicon{
	display:inherit;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	text-align:center;
	color:#493c2e;
	}
/***嵌套在表单内的表单如增加多个附件***/
.nestform{
	margin:0 auto;
	padding:3px;
	width:98%;
	}
.nestform dt{
	margin: 0 0 5px 0;
	padding:0;
	}
.nestform dd{
	display:table;
	margin:5px 0;
	padding: 0;
	width:100%;
	border-bottom:1px dashed #CCC;	
	}
.nestform dd span{
	float:left;
	padding:4px 4px;
	}
.nest-attachment{
	margin: 0 ;
	padding:0;
	font-size:12px;
	}
.nest-attachment dt{
	display:block;
	margin: 0 0 5px 0;
	padding:0;
	}
.nest-attachment dd{
	display:table;
	margin:5px 0;	
	padding: 0;
	width:100%;
	height:30px;
	border-bottom:1px dashed #CCC;	
	}
.nest-attachment dd font{
	display:block;
	float:left;
	padding:2px 6px;
	font-size:12px;
	}
.nest-attachment dd a{
	display:block;
	float:left;
	
	}
.nest-attachment dd img{
	float:left;
	padding:6px 4px 0 2px ;
	}
.nest-attachment dd span{
	display:block;
	float:left;
	padding:0 10px ;
	border:1px solid #c5d6df;
	background:#e9f7ff;
	}
/*** 按钮栏****/	
.ui-btnbar{	
	padding:0;
	background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -300px;	
	width:98%;
	height:32px;
	}
.btnbar-top{	
	margin:10px auto 0 auto;	
	border:1px solid #c3c3c3;
	}/***按钮栏在列表上方***/
.btnbar-bot{	
	margin:0 auto 0 auto;	
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	}/***按钮栏在列表下方***/
.ui-btnbar ul{
	margin:0;
	padding:0;
	}
.ui-btnbar li{
	float:left;
	margin:0 ;
	}
.ui-btnbar a:hover{
	border:1px solid #c3b199;
    background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -175px;	
	height:24px;
	}
/****分页导航样式******/
.ui-page{
	width:98%;
	margin:0 auto 10px auto;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	padding:2px 0;
	}
.ui-page-item-info{  
	padding:2px;
	magin:0;
	}
.ui-page-item-info{
	width:300px;
	float:left;
	}
.ui-page-item-set{
	width:120px;
	}
.ui-page-item-set h4{
	display:block;
	width:32px;
	float:left;
	}
.ui-page-item-go{
	width:112px;
	float:right;
	}
.ui-page-item-go h4{
	display:block;
	width:30px;
	text-align:right;
	padding-right:3px;
	float:left
	}
.select-page{
	float:left;
	width:50px;
	height:26px;
	margin:3px 0 0 2px;
	}
.input-page{
	width:30px;
	height:22px;
	*height:20px;
	margin:3px 3px  0 2px;
	float:left;
	border:1px  solid #c5c5c5;
	}
	
.input-web{
	width:70%;
	height:30px;
	margin:3px 3px  0 2px;
	float:left;
	border:1px  solid #c5c5c5;
	}

.ui-button-go{
	display:block;
	float:left;
	border:1px  solid #7594aa;
	background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -100px;	
	width:24px;
	padding:0;
	margin:4px 0 0 0;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
	}
.ui-item-link{
	float:right;
	}
.ui-item-link-cen{
	align:center;
	}
.ui-page-item{
    margin:0 2px;
	}
a.ui-page-item-current{
	cursor:default;
	text-decoration:none;
	color:#666666;
	font-weight:bold;
	}
a.ui-page-item-current:hover{
	text-decoration:none;
	}
.ui-page-item-first, .ui-page-item-prev, .ui-page-next, .ui-page-last{
	display:inline;
	border:1px  solid #7594aa;
	background:url(../images/page_x.png)  repeat-x;
    background-position: 0 -100px;
	padding:2px 6px;
	cursor:pointer;
	color:#0059b5;
	}
a.ui-page-item-disable{
	border:1px  solid #6e6e6e;
	background:url(../images/page_x.png)  repeat-x;
    background-position: 0 0;
	padding:2px 6px;
	cursor:default;
	color:#666666;
	}	/***无效 不可用状态样式***/
a.ui-page-item-disable:hover{
	text-decoration:none;
}/***ie6 hack***/
/*****popwin 弹出遮罩层样式****/
.ui-popwin{
	margin:0;
	padding:0;
	}

.ui-popwin-title{
	margin:0 auto;
	width:98%;
	}
.ui-popwin-title img{
	float:left;
	margin:2px;
	width:24px;
	}
.ui-popwin-title h4{
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#3c85c1;
	letter-spacing:2px;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	}
.ui-popwin-cnt{
	width:90%;
	margin:5px auto ;
	}
.ui-popwin-cnt p{
	line-height:2em;
	}	
.ui-popwin-btn{
	width:90%;
	text-align:right;
	}

/*****文字功能连接的样式*****/
a.text-link{
	display:block;
	margin:0 10px;	
	float:left;;
	color:#006dbe;
	line-height:30px;
	vertical-align:middle;
	}
/****feedback 反馈层样式***/
.ui-feedback{
	width:100%;
	height:150px;
	text-align:center;
	margin:0;
	padding-top:100px;
	}
.feedback-normal{
	zoom:1;
    display:inline-block;
    *display:inline;
	margin:0 auto;
	vertical-align:middle;
	text-align:center;
	height:150px;
	margin:0;
	}/***不定义宽度水平居中***/
	
.ui-feedback img{
	display:block;
	float:left;
	}
.ui-feedback dl{
	display:block;
	float:left;
	}
.ui-feedback p{
	padding:8px 4px;
	float:left;
	}
.ui-feedback dd font{
	padding:10px 0 0 0;
	float:left;
	}
.ui-feedback-wantgo{
	margin:10px 0 10px 48px;
	}
.ui-feedback-wantgo a{
	margin:0 5px;
	}
.feedback-green{
	font-size:24px;
	color:#417620;
	font-style:italic;
	}
.feedback-red{
	font-size:24px;
	color:#952121;
	font-style:italic;
	}
/***列表信息概况样式***/
.list-survey{
	width:98%;
	margin:0 auto 5px auto;
	padding:0;
	border-bottom:1px dashed #dadada
	}
.table-survey{
	margin:0 auto;
	padding:0;
	width:98%;
	border-collapse:separate;
	border-spacing: 5px;
	}
.table-survey td{
	background:#eeeeee;
	padding:4px;
	}
.table-survey td span{
	display:block;
	font-size:14px;
	background:#ffffff;
	padding:3px 5px ;
	height:32px;
	line-height:28px;
	vertical-align:middle;
	text-align:center;
	margin:0;
	border:1px solid #d3d3d3;
	}
.table-survey td span h4{
	display:block;
	float:left;
	padding:0 5px ;
	width:50%;
	}
.table-survey td span font{
	display:block;
	float:left;
	border:1px solid #d3d3d3;
	background:#eeeeee;
	text-align:center;
	width:40%;
	height:28px;
	font-weight:bold;
	}
/***ui-flod样式***/
.ui-flod-title{
	margin:0 auto 0 auto;
	padding:0;
	background:url(../images/page_x.png) repeat-x;
	background-position: 0 -200px;
	border:1px solid #cbd6e4;
	width:98%;
	height:32px;
	line-height:32px;
}
.ui-flod-title  a{
	display:block;
	width:100%;
	height:32px;
	float: left;
}
.ui-flod-title span{
	display: block;
	padding:8px;
	}
.ui-flod-title span img{
	height:16px;
	float: left;
	border:0;	
	}
.ui-flod-title h2{
	font-weight:bold;
	height:32px;
	line-height: 32px;
	vertical-align: middle;
	font-size:14px;
	color:#d22517;	
}
.ui-flod-cnt{
	width:98%;
	margin:0 auto;
	padding:4px 0 0 0;
	border:solid #d4d4d4;
	border-width:0 1px 1px 1px;
	}
/***照片样式***/
.photo-inch{
	text-align:center;
	padding:4px;
	}
.photo-inch img{
	width:120px;
	margin:0 auto;
	border:3px solid #c1c1c1;
	}
.photo-certi{
	padding:4px;
	}
.photo-certi img{
	width:300px;
	margin:0 auto;
	border:3px solid #ffffff;
	}